{% extends "memberapp/base.html" %}
{% block content %}
 <section class="content-header">
  <h1>
    게시판 검색
    <small>태그를 클릭하면 해당 게시판의 게시물들이 보입니다.</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/stem"><i class="fa fa-list-ul"></i> Home</a></li>
    <li class="active">Boards</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12">
      {% for tag in tags %}
      {% if tag.special % 2 == 1 %}
      <a href="/stem/board/{{tag.id}}"><span class="label bg-orange badge-tag" data-tag-id="{{tag.id}}">#{{tag.title}}</span></a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}