{% extends "memberapp/base.html" %}
{% block content %}
<link href="{{url_for('static', filename='css/css-circular-prog-bar.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='css/memberapp_timelineonly.css')}}" rel="stylesheet" type="text/css" />

<section class="content-header">
    <h1>
        STEMWare Workbench
        <small>{{member.cycle}}기 {{member.user.nickname}} 회원님 환영합니다!!</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> Home</li>
    </ol>
</section>

<section class="content">
  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="box">
          <div class="box-body">
            <div id="calendar"></div>
          </div>
          <a href="/stem/calendar">
              <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">STEM Member Management System</h3>
            </div><!-- /.box-header -->
            <div class="box-body" style="padding:10px 0;">
              <div class="left" style="width:50%; float:left; height:140px;"> 
              <p class="text-center">{{member.user.nickname}} 회원님은 
              {% if member.stem_dept_id == 8 %}</p>
               <div class="progress-circle p100 blue">
                 <span>명예회원</span>
                 <div class="left-half-clipper">
                    <div class="first50-bar"></div>
                    <div class="value-bar"></div>
               </div>
             </div>{% elif member.stem_dept_id == 9 %}
               <div class="progress-circle p100 gold">
                 <span style="line-height:20px; top:25px;">우수<br>명예회원</span>
                 <div class="left-half-clipper">
                    <div class="first50-bar"></div>
                    <div class="value-bar"></div>
               </div>
             </div>{% elif member.stem_dept_id == 5 %}
                      <div class="progress-circle p100 gold">
                       <span>{% if member.cycle != recruitcycle %}前{% endif %} 회장</span>
                       <div class="left-half-clipper">
                          <div class="first50-bar"></div>
                          <div class="value-bar"></div>
                      </div>
                    {% elif member.stem_dept_id == 6 %}
                      <div class="progress-circle p100 blue">
                       <span>{% if member.cycle != recruitcycle %}前{%endif%} 총무</span>
                       <div class="left-half-clipper">
                          <div class="first50-bar"></div>
                          <div class="value-bar"></div>
                      </div>
                    {% else %}
                    <div class="progress-circle p100 green">
                 <span style="line-height:20px; top:25px;">일반회원</span>
                 <div class="left-half-clipper">
                    <div class="first50-bar"></div>
                    <div class="value-bar"></div>
               </div>
             </div>{% endif %}
                                               
              </div>
              </div>
              <div class="text-center right" style="width:50%; float:right; height:140px; display:table;">
              <div style="padding:10px 0; display:table-cell; vertical-align:middle;">
                {% if (member in manager) or (member.stem_dept_id <= 4) %} 
                <span class="label label-primary " style="font-size:2.5rem;">Active</span><br><br>
                  <div class="btn-group btn-group-vertical" style="padding:0 20px;">
                    <a href="/stem/mms/completion_state" class="btn btn-sm btn-default">이수 현황</a>
                    <a href="/stem/mms/completion_criterion" class="btn btn-sm btn-default">이수 기준서</a>
                  </div>
                {% elif member.stem_dept_id == 7 %}
                <span class="label label-default " style="font-size:3rem;">Inactive</span><br><br>
                  <div class="btn-group btn-group-vertical" style="padding:0 20px;">
                    <a href="/stem/mms/completion_state" class="btn btn-sm btn-default">이수 내역</a>
                    <a href="/stem/mms/active" class="btn btn-sm btn-default">Active 전환</a>
                  </div>
                {% else %}
                <span class="label label-warning " style="font-size:3rem;">Honored</span><br><br>
                  <div class="btn-group btn-group-vertical" style="padding:0 20px;">
                    <a href="/stem/mms/completion_state" class="btn btn-sm btn-default">이수 내역</a>
                    <a href="mailto:stemsnu@gmail.com" class="btn btn-sm btn-default">PM 활동신청</a>
                  </div>                
                {% endif %}
              </div>
              </div>
          </div><!-- /.box -->
        <a href="/stem/mms/completion_state">
            <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
        </a>
      </div>
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">STEMemo</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="form-group">
                <input class="form-control" style="border-bottom:1px dashed #ccc;" type="text" placeholder="제목 (50자 제한)" id="issue-title">
                <textarea class="form-control" style="border-top:0;" rows="3" placeholder="내용 (300자 제한)" id="issue-description"></textarea>
              </div>
              <div class="form-group">
              <button onclick="addIssue()" type="add" class="btn btn-primary pull-right">등록</button>
              </div>
            </div><!-- /.box-body -->
            <a href="/stem/suggestion">
                <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
            </a>
          </div><!-- /.box -->

    </div>

  <div class="col-xs-12 col-md-6 col-md-6" style="margin-bottom:20px;">
    <div class="box" style="margin-bottom:10px;">
            <div class="box-header">
              <h3 class="box-title">소식들 <small>최신 3개 글</small></h3>
            </div><!-- /.box-header -->    
    </div><!-- /.box -->
      {% for issue in issues %}
    <div class="qa-message-list" id="wallmessages">
            {% set a = mem.query.filter_by(user_id=issue.creator.user.id).first() %}
            <div class="message-item" id="m16">
            <div class="message-inner">
              <div class="message-head clearfix">
                <div class="avatar pull-left" style="margin:0 15px 0 5px;"><a href="people/u_{{issue.creator.user.id}}"><img class="img-rounded" src="/static/upload/{{ a.img or 'profile/default.png' }}"></a></div>
                <div class="user-detail">
                  <h5 class="handle"><small>[#{{ issue.local_id }}]</small> {% if not issue.name %} <span style="color:rgb(230,230,230);">제목 없음</span> {% else %} {{ issue.name }} {% endif %}
                  {% if a.user_id == member.user_id %} <i onClick="deleteIssue( {{issue.id}} )" style="color:red;" class="fa fa-times pull-right"></i> {% endif %}</h5>
                  <div class="post-meta">
                    <div class="asker-meta">
                      <span class="qa-message-what"></span>
                      <span class="qa-message-when">
                        <span class="qa-message-when-data">{{ issue.timestamp.strftime('%Y.%m.%d %H:%M') }}</span>
                      </span>
                      <span class="qa-message-who">
                        <span class="qa-message-who-pad">by </span>
                        <span class="qa-message-who-data"><a href="people/u_{{issue.creator.user.id}}">{{ issue.creator.user.nickname }}</a></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="qa-message-content">
              {% if not issue.description %}
              <span style="color:rgb(230,230,230);">내용 없음</span>
              {% else %}
              {{ issue.description | safe}}
              {% endif %}              
              </div>
          </div></div>
    </div>
    {% endfor %}
  </div>
</div>  

  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">공지사항 게시판</h3>
        </div><!-- /.box-header -->
        <div class="box-body for-board">
          <table class="table table-hover table-responsive" id="1-table">
          <tbody>
          <tr>
          <td class="col-md-8 text-left">내용</td>
          <td class="col-md-4 text-right">글쓴이</td>
          </tr>
          <tr>
          <td class="col-md-8 text-left">내용</td>
          <td class="col-md-4 text-right">글쓴이</td>
          </tr>
          <tbody>
          </table>
        </div><!-- /.box-body -->
      <a href="#">
          <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
      </a>
      </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="col-md-6 col-lg-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">회의록 게시판</h3>
        </div><!-- /.box-header -->
        <div class="box-body for-board">
          <table class="table table-hover table-responsive" id="1-table">
          <tbody>
          <tr>
          <td class="col-md-8 text-left">내용</td>
          <td class="col-md-4 text-right">글쓴이</td>
          </tr>
          <tr>
          <td class="col-md-8 text-left">내용</td>
          <td class="col-md-4 text-right">글쓴이</td>
          </tr>
          <tbody>
          </table>
        </div><!-- /.box-body -->
      <a href="#">
          <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
      </a>
      </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="clearfix visible-md-block"></div>

    <div class="col-md-6 col-lg-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">총동창회 게시판</h3>
        </div><!-- /.box-header -->
        <div class="box-body for-board">
          <table class="table table-hover table-responsive" id="1-table">
          <tbody>
          <tr>
          <td class="col-md-8 text-left">내용</td>
          <td class="col-md-4 text-right">글쓴이</td>
          </tr>
          <tr>
          <td class="col-md-8 text-left">내용</td>
          <td class="col-md-4 text-right">글쓴이</td>
          </tr>
          <tbody>
          </table>
        </div><!-- /.box-body -->
      <a href="#">
          <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
      </a>
      </div><!-- /.box -->
    </div><!-- /.col -->

  <div class="col-md-6 col-lg-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">개인 게시판</h3>
        </div><!-- /.box-header -->
        <div class="box-body for-board">
          <table class="table table-hover table-responsive" id="5-table">
          <tbody>
          <tr>
          <td class="col-md-8 text-left">내용</td>
          <td class="col-md-4 text-right">글쓴이</td>
          </tr>
          <tr>
          <td class="col-md-8 text-left">내용</td>
          <td class="col-md-4 text-right">글쓴이</td>
          </tr>
          <tbody>
          </table>
        </div><!-- /.box-body -->
      <a href="#">
          <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
      </a>
      </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="col-md-6 col-lg-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">즐겨찾기1</h3>
        </div><!-- /.box-header -->
        <div class="box-body for-board">
          <table class="table table-hover table-responsive" id="5-table">
          <tbody>
          <tr>
          <td class="col-md-8 text-left">내용</td>
          <td class="col-md-4 text-right">글쓴이</td>
          </tr>
          <tr>
          <td class="col-md-8 text-left">내용</td>
          <td class="col-md-4 text-right">글쓴이</td>
          </tr>
          <tbody>
          </table>
        </div><!-- /.box-body -->
      <a href="#">
          <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
      </a>
      </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="col-md-6 col-lg-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">즐겨찾기2</h3>
        </div><!-- /.box-header -->
        <div class="box-body for-board">
          <table class="table table-hover table-responsive" id="6-table">
          <tbody>
          <tr>
          <td class="col-md-8 text-left">내용</td>
          <td class="col-md-4 text-right">글쓴이</td>
          </tr>
          <tr>
          <td class="col-md-8 text-left">내용</td>
          <td class="col-md-4 text-right">글쓴이</td>
          </tr>
          <tbody>
          </table>
        </div><!-- /.box-body -->
      <a href="#">
          <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
      </a>
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div>

<style>
.for-board {padding:0;}
</style>

</section>
{% endblock %}

{% block modals %}
<div id="suggestion-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#suggestion-modal').trigger('closeModal');"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">등록되었습니다.</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="$('#suggestion-modal').trigger('closeModal');">Close</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/stem/suggestion'">Go to suggestions</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endblock %}

{% block styles %}
<link href="{{url_for('static', filename='adminLTE/plugins/datatables/dataTables.bootstrap.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css" />
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='adminLTE/plugins/datatables/jquery.dataTables.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='adminLTE/plugins/datatables/dataTables.bootstrap.min.js')}}" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/jquery.easyModal.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/gcal.js" type="text/javascript"></script>
<script src="{{url_for('static', filename='adminLTE/plugins/fullcalendar/ko.js')}}" type="text/javascript"></script>

<script type="text/javascript">

$("#suggestion-modal").easyModal();

$('#calendar').fullCalendar({
  lang: 'ko',
  timezone: 'local',
  timeFormat: 'h(:mm)t',
  defaultView: 'listWeek',
  height: 300,
  header: {
    left: 'prev,next today',
    center: 'title',
    right: ''
  },
  titleFormat: 'MMM D',
  buttonText: {
    today: 'Today'
  },
  googleCalendarApiKey: 'AIzaSyA2C5FY8AH365dq2APeJZe6_BFtSa6quBc',
  eventSources: [
    {
      googleCalendarId: '8qbpapc1361o57ilrajo13j9fs@group.calendar.google.com',
      color: '#c3d6e0',
      textColor: '#444'
    },
    {
      googleCalendarId: 'ko.south_korea#holiday@group.v.calendar.google.com',
      color: '#e8d197'
    },
    {
      url: '/stem/api/deadlines',
      editable: true
    }
  ],
  viewRender: function() {
    $('.fc-center h2').css("font-size","150%");
  },
  eventClick: function(event) {
    // opens events in a popup window
    if (event.url.contains("https://www.google.com")) {
      window.open(event.url, 'gcalevent', 'width=700,height=600');
    } else location.href = event.url;
    return false;
  },
  eventDrop: function(event, delta, revertFunc) {
    event.start = event.start.utcOffset(9);
    $.ajax({
      url: '/stem/api/task/' + event.id,
      type: 'PUT',
      data: {
        deadline: event.start.unix()
      },
      error: function(){
        alert("일정을 수정할 수 없습니다. 서버 오류 또는 권한이 없습니다.");
        revertFunc();
      }
    });
  }
});

$(document).ready(function(){
  $('#issue-description').on('keyup',function(){
    if($(this).val().length > 300) {
      $(this).val($(this).val().substring(0,300));
    }
  })
  $('#issue-title').on('keyup',function(){
    if($(this).val().length > 50) {
      $(this).val($(this).val().substring(0,50));
    }
  })
})

function deleteIssue(issueid) {
  var y = confirm("글을 삭제합니다.")
  if (y==true) {
  $.ajax({
    url: "/stem/api/task/delete",
    type:"POST",
    data: {
        id: issueid
    },
    success: function(data) {
      location.reload();
    },
    error: function() {
      alert('오류가 발생했습니다.');
    }
  })} else return;
}

function addIssue() {
  var name = $("#issue-title").val();
  var description = $("#issue-description").val();

  if(name=='' && description==''){
    alert('내용을 입력하여주세요.');
    return;
  }

  $("#issue-title").val('');
  $("#issue-description").val('');

  $.ajax({
    url: "/stem/api/task",
    type:"POST",
    data: {
      name: name,
      description: description.replace('\n','<br>'),
      level: 1,
      parents: [0]
    },
    success: function(issue) {
      location.reload();
    },
    error: function() {
      alert('오류가 발생했습니다.');
      $("#issue-title").val(name);
      $("#issue-description").val(description);
    }
  });
}

</script>
{% endblock %}

<!--in script
var priority = [
    "bg-aqua'>사소",
    "bg-green'>보통",
    "bg-yellow'>중요",
    "bg-red'>급함"];

var stats = [
    "bg-aqua'>진행",
    "bg-green'>완료",
    "bg-gray'>보관",
    "bg-black'>제외"];

var prog_stats = [
    "bg-aqua'>",
    "bg-green'>",
    "bg-gray'>",
    "bg-black'>"];

var None = undefined;
var tasks = [
  {% for tasks in task_lists %}
    [{% for task in tasks %}
      [{{task.id}},{{task.local_id}},"{{task.name}}",{{task.progress}},{{task.status}},{{task.priority}},{{task.deadline.timestamp()}}]{% if not loop.last %},{%endif%}
    {% endfor %}]
    {% if not loop.last %},{%endif%}
  {% endfor %}
];
tasks[0].splice(0,1);

$.extend( $.fn.dataTable.defaults, {
    order: [[6,"asc"],[0,"asc"]],
    pageLength: 5,
    dom: "tp",
    language:{paginate:{next:">",previous:"<"}},
    columns: [
        {title:"id"},
        {title:"#"},
        {title:"이름"},
        {title:"진행도"},
        {title:"status"},
        {title:""},
        {title:"마감일"}
    ]
});

var table=[];
var colDefs = [
    {targets: 0,
      visible:false
    },//id
    {targets: 1,
      width: "0px",
      orderable: false
    },//local_id
    {targets: 3,
      visible: false,
      width: "30%",
      render: function(data, type, row) {
        if (type=="display")
          return "<div class='progress progress-xs'>"+
            "<div style='width:" + data +
            "%' class='progress-bar " + prog_stats[row[4]] +
            "</div></div>";
        else
          return data;
      }
    },//progress
    {targets: 4,
      visible: false,
      render: function(data, type, row) {
        if (type=="display")
          return "<span class='badge "+stats[data]+"</span>";
        else
          return data;
      }
    },//status
    {targets: 5,
      width: "0px",
      render: function(data, type, row) {
        if (type=="display")
          return "<span class='badge "+priority[data]+"</span>";
        else {
          return data;
        }
      }
    },//priority
    {targets: 6,
      width: "50px",
      render: function(data, type, row) {
        if (type!="display")
          if (data < 10000)
            return Number.MAX_VALUE;
          else
            return data;

        if (data < 10000) return "TBD";
        var time = moment(data*1000);
        var today = moment();
        if (time.diff(today, 'days') < 0)
          return "<span style='color:#ccc'>" + time.format("YY-MM-DD") + "</span>";
        else if (time.diff(today, 'days') < 3)
          return "<span style='color:#dd4839'>" + time.format("YY-MM-DD") + "</span>";
        return time.format("YY-MM-DD");
      }
    }//timestamp
  ];

var task_type = ['milestone', 'issue', 'subtask'];

for (var i = 0; i < 3; i++)
  table[i] = $('#task-'+i+'-table').DataTable({
      data: tasks[i],
      columnDefs: colDefs.concat([
        {targets:2,
          render: function(data, type, row) {
            var progress = (Math.round(row[3]*10)/10) + "%";
            progress = " <strong>(" + progress + ")</strong>";
            return "<a href='/stem/"+task_type[i]+"/" + row[0] +
              "'>" + data + progress + "</a>";
          }
        }])
  });
  -->