{% extends "memberapp/base.html" %}
{% block content %}
<section class="content-header">
    <h1>
        STEMWare Workbench
        <small>[{{member.cycle}}기] {{member.user.nickname}} 회원님 환영합니다!!</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> Home</li>
    </ol>
</section>

<section class="content">
  <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-8">
        <div class="box">
          <div class="box-body">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">건의 사항</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="form-group">
                <input class="form-control" style="border-bottom:1px dashed #ccc;" type="text" placeholder="제목" id="issue-title">
                <textarea class="form-control" style="border-top:0;" rows="3" placeholder="내용" id="issue-description"></textarea>
              </div>
              <div class="form-group">
              <button onclick="addIssue()" type="add" class="btn btn-primary pull-right">등록</button>
              </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
      </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">내 일거리</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered display compact" id="task-1-table">
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="col-md-6 col-lg-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">내 세부 업무</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered display compact" id="task-2-table">
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="clearfix visible-md-block"></div>

    <div class="col-md-6 col-lg-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">내 마일스톤</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered display compact" id="task-0-table">
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->

  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Milestones</h3>
          <div class="box-tools">
            <div class="input-group">
              <input name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" type="text">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody><tr>
              <th>Cycle</th>
              <th>User</th>
              <th>Date</th>
              <th>Status</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>6</td>
              <td>Seungmin Yoo</td>
              <td>2015-05-20</td>
              <td><span class="label label-success">Approved</span></td>
              <td>MT materials.</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Kyunam Lee</td>
              <td>2015-05-22</td>
              <td><span class="label label-warning">Pending</span></td>
              <td>MT Games.</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Haesung Lee</td>
              <td>2015-05-22</td>
              <td><span class="label label-primary">Approved</span></td>
              <td>I will go MT.</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Taehee Jeong</td>
              <td>2015-05-05</td>
              <td><span class="label label-danger">Denied</span></td>
              <td>Homepage register please.</td>
            </tr>
          </tbody></table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div>
</section>
{% endblock %}

{% block modals %}
<div id="suggestion-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#suggestion-modal').trigger('closeModal');"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">등록되었습니다.</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="$('#suggestion-modal').trigger('closeModal');">Close</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/stem/suggestion'">Go to suggestions</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endblock %}

{% block styles %}
<link href="{{url_for('static', filename='adminLTE/plugins/datatables/dataTables.bootstrap.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css" />
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='adminLTE/plugins/datatables/jquery.dataTables.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='adminLTE/plugins/datatables/dataTables.bootstrap.min.js')}}" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/jquery.easyModal.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/gcal.js" type="text/javascript"></script>
<script src="{{url_for('static', filename='adminLTE/plugins/fullcalendar/ko.js')}}" type="text/javascript"></script>

<script type="text/javascript">

$("#suggestion-modal").easyModal();

$('#calendar').fullCalendar({
  lang: 'ko',
  timezone: 'local',
  timeFormat: 'h(:mm)t',
  defaultView: 'basicWeek',
  height: 250,
  header: {
    left: 'prev,next today',
    center: 'title',
    right: ''
  },
  buttonText: {
    today: 'today'
  },
  googleCalendarApiKey: 'AIzaSyA2C5FY8AH365dq2APeJZe6_BFtSa6quBc',
  eventSources: [
    {
      googleCalendarId: '8qbpapc1361o57ilrajo13j9fs@group.calendar.google.com',
      color: '#c3d6e0',
      textColor: '#444'
    },
    {
      googleCalendarId: 'ko.south_korea#holiday@group.v.calendar.google.com',
      color: '#e8d197'
    },
    {
      url: '/stem/api/deadlines',
      editable: true
    }
  ],
  viewRender: function() {
    $('.fc-center h2').css("font-size","150%");
  },
  eventClick: function(event) {
    // opens events in a popup window
    if (event.url.contains("https://www.google.com")) {
      window.open(event.url, 'gcalevent', 'width=700,height=600');
    } else location.href = event.url;
    return false;
  },
  eventDrop: function(event, delta, revertFunc) {
    event.start = event.start.utcOffset(9);
    $.ajax({
      url: '/stem/api/task/' + event.id,
      type: 'PUT',
      data: {
        deadline: event.start.unix()
      },
      error: function(){
        alert("일정을 수정할 수 없습니다. 서버 오류 또는 권한이 없습니다.");
        revertFunc();
      }
    });
  }
});
function addIssue() {
  var name = $("#issue-title").val();
  var description = $("#issue-description").val();

  $("#issue-title").val('');
  $("#issue-description").val('');

  $.ajax({
    url: "/stem/api/task",
    type:"POST",
    data: {
      name: name,
      description: description.replace('\n','<br>'),
      level: 1,
      parents: [0]
    },
    success: function(issue) {
      $("#suggestion-modal .modal-body").html(
        "<h4><small>#" + issue.id + "</small> " + issue.name + "</h4>" +
        "<p>" + issue.description.split("\n").join("<br>") + "</p>");
      $("#suggestion-modal").trigger("openModal");
    },
    error: function() {
      alert('오류가 발생했습니다.');
      $("#issue-title").val(name);
      $("#issue-description").val(description);
    }
  });
}

var priority = [
    "bg-aqua'>사소",
    "bg-green'>보통",
    "bg-yellow'>중요",
    "bg-red'>급함"];

var stats = [
    "bg-aqua'>진행",
    "bg-green'>완료",
    "bg-gray'>보관",
    "bg-black'>제외"];

var prog_stats = [
    "bg-aqua'>",
    "bg-green'>",
    "bg-gray'>",
    "bg-black'>"];

var None = undefined;
var tasks = [
  {% for tasks in task_lists %}
    [{% for task in tasks %}
      [{{task.id}},{{task.local_id}},"{{task.name}}",{{task.progress}},{{task.status}},{{task.priority}},{{task.deadline.timestamp()}}]{% if not loop.last %},{%endif%}
    {% endfor %}]
    {% if not loop.last %},{%endif%}
  {% endfor %}
];
tasks[0].splice(0,1);

$.extend( $.fn.dataTable.defaults, {
    order: [[6,"asc"],[0,"asc"]],
    pageLength: 5,
    dom: "tp",
    language:{paginate:{next:">",previous:"<"}},
    columns: [
        {title:"id"},
        {title:"#"},
        {title:"이름"},
        {title:"진행도"},
        {title:"status"},
        {title:""},
        {title:"마감일"}
    ]
});

var table=[];
var colDefs = [
    {targets: 0,
      visible:false
    },//id
    {targets: 1,
      width: "0px",
      orderable: false
    },//local_id
    {targets: 3,
      visible: false,
      width: "30%",
      render: function(data, type, row) {
        if (type=="display")
          return "<div class='progress progress-xs'>"+
            "<div style='width:" + data +
            "%' class='progress-bar " + prog_stats[row[4]] +
            "</div></div>";
        else
          return data;
      }
    },//progress
    {targets: 4,
      visible: false,
      render: function(data, type, row) {
        if (type=="display")
          return "<span class='badge "+stats[data]+"</span>";
        else
          return data;
      }
    },//status
    {targets: 5,
      width: "0px",
      render: function(data, type, row) {
        if (type=="display")
          return "<span class='badge "+priority[data]+"</span>";
        else {
          return data;
        }
      }
    },//priority
    {targets: 6,
      width: "50px",
      render: function(data, type, row) {
        if (type!="display")
          if (data < 10000)
            return Number.MAX_VALUE;
          else
            return data;

        if (data < 10000) return "TBD";
        var time = moment(data*1000);
        var today = moment();
        if (time.diff(today, 'days') < 0)
          return "<span style='color:#ccc'>" + time.format("YY-MM-DD") + "</span>";
        else if (time.diff(today, 'days') < 3)
          return "<span style='color:#dd4839'>" + time.format("YY-MM-DD") + "</span>";
        return time.format("YY-MM-DD");
      }
    }//timestamp
  ];

var task_type = ['milestone', 'issue', 'subtask'];

for (var i = 0; i < 3; i++)
  table[i] = $('#task-'+i+'-table').DataTable({
      data: tasks[i],
      columnDefs: colDefs.concat([
        {targets:2,
          render: function(data, type, row) {
            var progress = (Math.round(row[3]*10)/10) + "%";
            progress = " <strong>(" + progress + ")</strong>";
            return "<a href='/stem/"+task_type[i]+"/" + row[0] +
              "'>" + data + progress + "</a>";
          }
        }])
  });
</script>
{% endblock %}