{% extends "memberapp/base.html" %}
{% block content %}
<section class="content-header">
  <h1>
    Timeline
    <small>example</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Issue</a></li>
    <li class="active">Issue page</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title"><small>#{{issue.local_id}}</small> <strong>{{issue.name}}</strong></h3>
                <div class="box-tools pull-right">
                  <!-- Buttons, labels, and many other things can be placed here! -->
                  <!-- Here is a label for example -->
				  {% if issue.status == 0 %}
                  <span class="label label-primary issue-status">Opened</span>
				  {% elif issue.status == 1 %}
                  <span class="label label-primary issue-status">Closed</span>
				  {% elif issue.status == 2 %}
                  <span class="label label-primary issue-status">Archived</span>
				  {% elif issue.status == 3 %}
                  <span class="label label-primary issue-status">Inactive</span>
				  {% endif %}

				  {% if issue.priority == 0 %}
                  <span class="label label-danger issue-priority">Blocker</span>
				  {% elif issue.priority == 1 %}
                  <span class="label label-danger issue-priority">Important</span>
				  {% elif issue.priority == 2 %}
                  <span class="label label-danger issue-priority">Normal</span>
				  {% elif issue.priority == 3 %}
                  <span class="label label-danger issue-priority">Trivial</span>
				  {% endif %}
                </div><!-- /.box-tools -->
              </div><!-- /.box-header -->
              <div class="box-body">
                  <div class="row">
                    <div class="col-sm-10">
                    <div class="progress progress-sm">
                        <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="{{issue.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{issue.progress}}%">
                            <span class="sr-only">{{issue.progress}}% Complete</span>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-2">
                    <span class="text-green">{{issue.progress}}% Complete</span>
                    </div>
                  </div>
				  {{issue.description | safe }}
              </div><!-- /.box-body -->
              <div class="box-footer">
                <h5>Milestones</h5>
                {% for milestone in issue.parents %}
				<span class="label label-info"><small>[M#{{milestone.local_id}}]</small> {{milestone.name}}</span>
				{% endfor %}
                <h5>Issued started by <span class="label label-primary">{{issue.creator.user.nickname}}</span><br></h5>
                <h5>Contributors</h5>
				{% for member in issue.contributors %}
                <span class="label label-primary">{{member.user.nickname}}</span>
				{% endfor %}
              </div><!-- box-footer -->
            </div><!-- /.box -->
        </div>
    </div>


  <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <!-- The time line -->
      <ul class="timeline">
        <!-- timeline time label -->
        <li class="time-label">
          <span class="bg-red">
            30 May. 2015
          </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
		{% for comment in issue.children %}
		{% if loop.first or 
			(not loop.last and 
				comment.timestamp.strftime('%Y%m%d') != issue.children[loop.index0-1].timestamp.strftime('%Y%m%d')) %}
		  <li class="time-label">
			<span class="bg-red">
              {{ comment.timestamp.strftime('%Y.%m.%d') }}
            </span>
          </li>
        {% endif %}
        <li>
		  {% if comment.comment_type == 0 %}
          <i class="fa fa-trophy bg-yellow"></i>
		  {% else %}
          <i class="fa fa-trophy bg-yellow"></i>
		  {% endif %}
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ comment.timestamp.strftime('%y-%m-%d %H:%M')}} by <a href="#">{{comment.author.user.nickname}}</a></span>
            <h3 class="timeline-header">{{item.title}}</h3>
            
            <div class="timeline-body">
				{{comment.body}}
            </div>
            <div class='timeline-footer'>
				<p>
				{% for tag in comment.tags %}
                <span class="label label-info">{{tag.title}}</span>
				{% endfor %}
				</p>
			  {% if comment.comment_type == 0 %}
              <a class="btn btn-primary btn-xs">See detailed subtask</a>
              <a class="btn btn-danger btn-xs">Modify subtask</a>
			  {% endif %}
            </div>
          </div>
        </li>
		{% endfor %}
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-user bg-aqua"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 1 hour ago</span>
            <h3 class="timeline-header no-border"><a href="#">Sejin Kim</a> joined this issue</h3>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-gears bg-green"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 3 hours ago by <a href="#">Dongwoo Lee</a></span>
            <h3 class="timeline-header">Subtask <small>[#34-3]</small> <em>Test CRUD</em> is created</h3>
            <div class="timeline-body">
                <p class="text-green">Subtask progress set to 25%</p>
                <blockquote>
                Test CRUD of subtasks
                </blockquote>
            </div>
            <div class='timeline-footer'>
                <p><span class="label label-info">subtask #34-3</span></p>
              <a class="btn btn-danger btn-xs">Modify subtask</a>
            </div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline time label -->
        <li class="time-label">
          <span class="bg-red">
            28 May. 2015
          </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-camera bg-purple"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 2 days ago by <a href="#">Cham Seungwoo</a></span>
            <h3 class="timeline-header">3 photos were uploaded for subtask <small>[#34-1]</small> <em>Issue structure</em></h3>
            <div class="timeline-body">
              <img src="http://placehold.it/200x150" alt="..." class='margin' />
              <img src="http://placehold.it/200x150" alt="..." class='margin'/>
              <img src="http://placehold.it/200x150" alt="..." class='margin'/>
            </div>      
              <div class="timeline-footer">
                    <p><span class="label label-info">subtask #34-1</span> <span class="label label-warning">photo</span></p>
              </div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline time label -->
        <li class="time-label">
          <span class="bg-red">
            25 May. 2015
          </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-upload bg-purple"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 5 days ago by <a href="#">Cham Seungwoo</a></span>
            <h3 class="timeline-header">A file was uploaded for subtask <small>[#34-1]</small> <em>Issue structure</em></h3>
            <div class="timeline-body">
                <blockquote>
                <a href="#"><i class="fa fa-file"></i> Requirements.txt</a>
                </blockquote>
            </div>
              <div class="timeline-footer">
                    <p><span class="label label-info">subtask #34-1</span> <span class="label label-warning">file</span></p>
              </div>
          </div>
        </li>
        <!-- END timeline item -->
        <li>
          <i class="fa fa-clock-o bg-gray"></i>
        </li>
      </ul>
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %}

{% block scripts %}
{% endblock %}
