 {% extends "memberapp/base.html" %}
 {% block content %}
 <section class="content-header">
  <h1>
    일거리
    <small>업무의 주 단위입니다.</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">issue</li>
  </ol>
  <div class="add-task">
    <i class="fa fa-plus command-elem" onclick="showModal()"></i>
  </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
            <div class="box-body">
            <table id="issues" class="table table-bordered table-hover dataTable">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>이름</th>
                    <th>진행도</th>
                    <th>상태</th>
                    <th>중요도</th>
                    </tr>
                </thead>
            </table>
            </div>
            </div>
        </div>
    </div>
</section><!-- /.content -->
{% endblock %}

{% block modals %}
<div class="modal-dialog" id="add-issue" style="display:none">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">새 일거리</h4>
      </div>
      <div class="modal-body">
        <form role="form">
            <div class="form-group">
              <label for="issue-name">이름</label>
              <input class="form-control" id="issue-name" type="text">
            </div>
            <div class="form-group">
              <label for="issue-description">설명</label>
              <textarea id="issue-description"></textarea>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="closeModal()">취소</button>
        <button type="button" class="btn btn-primary" onclick="addIssue()">추가</button>
      </div>
    </div><!-- /.modal-content -->
</div>
{% endblock %}

{% block styles %}
    <link href="{{url_for('static', filename='adminLTE/plugins/datatables/dataTables.bootstrap.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='adminLTE/plugins/datatables/jquery.dataTables.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='adminLTE/plugins/datatables/dataTables.bootstrap.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/jquery.easyModal.js')}}"></script>
<script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js" type="text/javascript"></script>

<script type="text/javascript">

$("#add-issue").easyModal();
$(".modal-dialog").css("display","default");
$('#issue-description').attr('contenteditable',true);

var editor = CKEDITOR.replace('issue-description',
    {toolbarGroups:[
        { name: 'clipboard',   groups: ['undo' ] },
        { name: 'links' },
        { name: 'insert' },
        { name: 'forms' },
        { name: 'tools' },
        { name: 'others' },
        '/',
        { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
        { name: 'paragraph',   groups: [ 'list', 'indent', 'blocks', 'align' ] },
        { name: 'styles' },
        { name: 'colors' }]
    });


var priority = [
    "bg-red'>급함",
    "bg-yellow'>중요함",
    "bg-greed'>보통",
    "bg-aqua'>시간날 때"];


var stats = [
    "bg-aqua'>진행 중",
    "bg-green'>완료됨",
    "bg-gray'>보관됨"];

var table = $('#issues').DataTable({
    ajax: {
		url: "/stem/api/issue",
		dataSrc: ""
	},
    processing: true,
    columns: [
        {data:"local_id"},
        {data:"name"},
        {data:"progress"},
        {data:"status"},
        {data:"priority"},
        {data:"id"}
        ],
    columnDefs: [
        {targets:[1],
            render: function(data, type, row) {
                return "<a href='/stem/issue/" + row.id +
                    "'>" + data + "</a>";
            }
        },
        {targets:[2],
            render: function(data, type, row) {
                return "<div class='progress progress-xs'>"+
                    "<div class='progress-bar' style='width:"+
                    data+"%'></div></div>";
            }
        },
        {targets:[3],
            render: function(data, type, row) {
                return "<span class='badge "+stats[data]+"</span>";
            }
        },
        {targets:[4],
            render: function(data, type, row) {
                return "<span class='badge "+priority[data]+"</span>";
            }
        },
        {visible:false, targets:[5]}
    ]
});


function showModal() {
    $("#add-issue").trigger("openModal");
}

function closeModal() {
    $("#add-issue").trigger("closeModal");
}

function addIssue() {
    var name = $("#issue-name").val().trim();
    var description = editor.getData();
    if (name === "") return;

    $.ajax({
        url: "/stem/api/task",
        type: "POST",
        data: {
            name: name,
            description: description,
            level: 1
        },
        success: function(data) {
            location.reload();
        }
    });
}
</script>
{% endblock %}
