{% extends "memberapp/base.html" %}
{% block styles %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="{{url_for('static', filename='adminLTE/dist/js/member_app.js')}}"></script>
<!--script src="{{url_for('static', filename='js/member_app.js')}}"></script-->

<link rel="stylesheet" href="{{url_for('static', filename='adminLTE/dist/css/member.css')}}" />
{% endblock %}

{% block content %}
<section class="content-header">
    <h1>
        People
        <small>STEM People</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/stem"><i class="fa fa-users"></i> Home</a></li>
        <li class="active">Member</li>
    </ol>
</section>

<section class="content">


<div id="memberlist" ng-app="stemApp" ng-controller="memberList" style="visibility:hidden;">
	<div class="members" style="text-align:center;" ng-view>
	    <div class="form-group" style="text-align:center;">
        <select name="cycle" class="form-control" ng-init="searchText.cycle = searchText.cycle || {{cycle}}" ng-model="searchText.cycle" style="width:130px; display:inline-block;">
        <option value='7' style="text-align:center;">7기 - 2016년</option>
        <option value='6' style="text-align:center;">6기 - 2015년</option>
        <option value='5' style="text-align:center;">5기 - 2014년</option>
        <option value='4' style="text-align:center;">4기 - 2013년</option>
        <option value='3' style="text-align:center;">3기 - 2012년</option>
        <option value='2' style="text-align:center;">2기 - 2011년</option>
        <option value='1' style="text-align:center;">1기 - 2010년</option>
   		</select></div>
		<div ng-repeat="cycle in all_members | filter:searchText">
			<h3 style="margin-top:0; margin-left:5px;">{[cycle[0].cycle]}기</h3><br><br>
            <div ng-repeat="mem in cycle" class="member-tag" style="padding:10px 5px;" ng-click="openCard(mem.id)">
            	<div class="member-picture">
            		<div class="member-picture-container">
            			<img class="member-picture-thumb" src="/static/upload/{[ mem.img || 'profile/default.png']}">
            		</div>
            	</div>
            	<h5>{[mem.user.nickname]}</h5>
            </div>
        </div>
	</div>
    <div class="member-card">   
        <div class="card-body">
            <div class="card-photo">
                <img class="card-cover" src="/static/upload/{[members[pIndex].cover || 'cover/cover_default.gif']}">
            </div>
            <div class="card-desc" style="max-height:300px; overflow-y:scroll;">
                <h4 class="card-member-name">{[members[pIndex].user.nickname]}</h4>
                <h6 class="card-member-dept">{[members[pIndex].cycle]}기 {[members[pIndex].stem_dept]}, {[members[pIndex].dept]}</h6><br>
                <p class="card-member-description">{[members[pIndex].cv]}</p>
                <p class="card-member-description">{[members[pIndex].comment]}</p>
                <a class="card-member-social-link" href="{[members[pIndex].social]}">{[members[pIndex].social.split('://')[1]]}</a>
                <a style="margin:20px 0 0 0;" class="btn btn-default btn-block" href="/stem/people/{[members[pIndex].id]}">자세히 보기 ></a>
            </div>
        </div>
        <a class="member-card-prev member-card-control" href="javascript:void(0)" ng-click="goPrev()">
            <span>{[prevMember().user.nickname]}</span>
            <i class="fa fa-arrow-left"></i>
        </a>
        <a class="member-card-next member-card-control" href="javascript:void(0)" ng-click="goNext()">
            <i class="fa fa-arrow-right"></i>
            <span>{[nextMember().user.nickname]}</span>
        </a>
        <a href="javascript:void(0)" onclick="closeModal()">
            <i class="modal-close fa fa-remove" style="line-height:22px;"></i>
        </a>
    </div>
</div>
</section>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
$('#memberlist').css('visibility','visible');
});
</script>
<script src="{{url_for('static', filename='js/jquery.easyModal.js')}}"></script>
<script src="{{url_for('static', filename='adminLTE/dist/js/member.js')}}"></script>
{% endblock %}