{% extends "memberapp/base.html" %}
{% import "task_elements.html" as elements with context %}
{% block content %}
 <section class="content-header">
  <h1>
    {{tag.title}}
    <small>{{tag.posts | length}}개의 글이 있습니다.</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/stem"><i class="fa fa-list-ul"></i> Home</a></li>
    <li><a href="/stem/board">Boards</a></li>
    <li class="active">{{tag.title}}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                <table id="posts" class="table table-bordered board">
                    <thead>
                        <tr>
                        <th style="width:40px;">#</th>
                        <th>제목</th>
                        <!--<th style="width:80px;">작성자</th>
                        <th style="width:80px;">일시</th>
                        <th style="width:60px;">조회수</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts[::-1] %}
                        <tr>
                            <td style="vertical-align:middle;">{{post.id}}</td>
                            <td style="vertical-align:middle;"><p style="float:left; margin-bottom:0; padding:5px 0;"><a href="{{tag.id}}/{{post.id}}">{{post.title}}
                                {% if post.files %}
                                <i class="fa fa-paperclip"></i>
                                {% endif %}
                                {% if post.commentCount > 0 %}
                                <span class="comment-count">[{{post.commentCount}}]</span>
                                {% endif %}</a></p><p class="label bg-gray badge-tag" style="float:right; padding:5px; margin-bottom:5px; margin-top:5px;">{{post.author.nickname}}, <span class="date" data-time-format="YY-MM-DD" data-timestamp="{{post.timestamp.timestamp()}}"></span>, 조회수 {{post.hitCount }}</p>
                            </td>
                            <!--<td>{{post.author.nickname}}</td>
                            <td class="date" data-time-format="YY-MM-DD" data-timestamp="{{post.timestamp.timestamp()}}"></td>
                            <td>{{post.hitCount}}</td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                <div class="box-footer">
                {% if tag.special == 1 %}
                    <a class="btn btn-primary" href="{{tag.id}}/write">쓰기</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</section><!-- /.content -->
{% endblock %}

{% block modals %}
{% endblock %}

{% block styles %}
    <link href="{{url_for('static', filename='adminLTE/plugins/datatables/dataTables.bootstrap.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='adminLTE/plugins/datatables/jquery.dataTables.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='adminLTE/plugins/datatables/dataTables.bootstrap.min.js')}}" type="text/javascript"></script>
<script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js" type="text/javascript"></script>

{% endblock %}
