{% extends "memberapp/base.html" %}
{% block content %}
<section class="content-header">
  <h1>
    {{profile_member.user.nickname}}
    <small>{{profile_member.cycle}}기 {{profile_member.stem_department.name}}, {{profile_member.department.name}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/stem"><i class="fa fa-user"></i> Home</a></li>
    <li><a href="/stem/people">Member</a></li>
    <li class="active">[{{profile_member.cycle}}] {{profile_member.user.nickname}}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

<div class="row">
  <div class="col-xs-12 col-md-4" style="height:340px;">
    <style>
    .card-photo {height: 200px;max-width: 423px;overflow: hidden;position: relative;margin:30px auto;}
    .card-photo img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: auto;
      width: 100%;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);}
    .profile-photo {height: 140px;width: 140px;border-radius: 140px;overflow: hidden;border: 3px solid #CCC;
      position: relative;margin:10px auto;top:-90px;background-color:#fff}
    .profile-photo img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }
    </style>
    <div class="card-photo">
      <img src="/static/upload/{{ profile_member.cover or 'cover/cover_default.gif'}}">
    </div>
    <div class="profile-photo">
      <img src="/static/upload/{{ profile_member.img or 'profile/default.png'}}">
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="box">

<div class="box-header with-border">
  <h3 class="box-title">프로필
  </h3>
</div><!-- /.box-header -->

<div class="box-body">
  <div class="row">
  </div>

  <div style="margin:5px;min-height:80px;position:relative;">
    <div id="member-comment">
      {{profile_member.comment | nl2br}}
    </div>
    <hr>
    <div id="member-cv">
      {{profile_member.cv | nl2br }}
    </div>
  </div>
</div><!-- /.box-body -->

<div class="box-footer">
  {#
  {{ elements.tag_list() }}
  #}
  {% if profile_member.birthday %}
  <i class="fa fa-birthday-cake"></i> {{profile_member.birthday.strftime("%Y.%m.%d")}}<br>
  {% endif %}
  {% if profile_member.social %}
  <i class="fa fa-facebook-square"></i> <a href="{{profile_member.social}}">{{profile_member.social.split('://')[1]}}</a><br>
  {% endif %}
  <i class="fa fa-envelope"></i> <a href="mailto:{{profile_member.user.email}}">{{profile_member.user.email}}</a><br>
  <i class="fa fa-phone"></i> {{profile_member.phone}}
</div><!-- box-footer -->

    </div><!-- /.box -->
</div>

{#{{ elements.comment_form() }}#}

  <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <!-- The time line -->
      <ul class="timeline">
      </ul>
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %}


{% block modals %}

{% endblock %}

{% block styles %}
<link href="{{url_for('static', filename='adminLTE/plugins/datatables/dataTables.bootstrap.css')}}" rel="stylesheet" type="text/css" /  >
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/jquery.easyModal.js')}}"></script>
<script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js" type="text/javascript"></script>

<script type="text/javascript">

</script>

{% endblock %}
