{% extends "memberapp/base.html" %}
{% import "task_elements.html" as elements with context %}
{% block content %}
<section class="content-header">
  <h1>
    세부 업무
    <small>구체적인 업무 단위입니다.</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Subtask</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

<div class="row">
    <div class="col-md-12">
        <div class="box">
<div class="box-header with-border">
  <h3 class="box-title"><small>#{{task.parents[0].local_id}}-{{task.local_id}}</small> <strong id="task-name">{{task.name}}</strong>
    {% if current_user.member.editable(task) %}<small><i id="task-name-modify" class="fa fa-pencil command-elem"></i></small>{% endif %}</h3>
  <div class="box-tools pull-right">
    {{ elements.all_select() }}
  </div><!-- /.box-tools -->
</div><!-- /.box-header -->

<div class="box-body">
  <div class="row">
    <div class="col-sm-10">
      <div class="progress progress-sm">
          <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="{{task.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{task.progress}}%">
              <span class="sr-only"><span class="progress-text">{{task.progress}}</span>% 완료</span>
          </div>
      </div>

      <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{task.progress}}" data-slider-id="green" />
    </div>
    <div class="col-sm-2">
      <span class="text-green"><span class="progress-text">{{task.progress}}</span>% 완료</span>
        {% if current_user.member.editable(task) %}
          <small><i class="fa fa-pencil command-elem" id="edit-progress"></i></small>
        {% endif %}
    </div>
    <div class="col-sm-12" style="text-align:right;display:none;" id="progress-control">
      <button type='button' class="btn btn-sm btn-danger" id="progress-cancel">취소</button>
      <button type='button' class="btn btn-sm btn-success" id="progress-confirm">확인</button>
    </div>
    <div class="col-sm-3 col-sm-offset-9" style="text-align:right;">
      <h5>마감: <strong id="deadline">{{task.deadline.strftime('%Y.%m.%d %H:%M')}}</strong>
        {% if current_user.member.editable(task) %}
        <small><i class="fa fa-pencil command-elem" id="edit-deadline"></i></small>
        <div id='dtpicker'><input type='text'></div>
        {% endif %}
      </h5>
    </div>
  </div>

  <div style="margin:5px;min-height:80px;padding-bottom:50px;position:relative;">
    {% if current_user.member.editable(task) %}
    <button id="task-description-modify" class="btn btn-sm btn-default" style="position:absolute;right:10px;z-index:1;"><i class="fa fa-pencil"></i></button>
    {% endif %}
    <div id="task-description" style="z-index:0;">
      {{task.description | safe }}
    </div>
  </div>
</div><!-- /.box-body -->

<div class="box-footer">
  <h5>일거리
  </h5>
  <div id="parent-tasks">
  {% for parent in task.parents %}
		<span class="label label-info task-badge" data-task-id="{{parent.id}}">
      <small>[#{{parent.local_id}}]</small> {{parent.name}}
    </span>
	{% endfor %}
  </div>
  {{ elements.contributor_list() }}
  {{ elements.tag_list() }}
</div><!-- box-footer -->

</div><!-- /.box -->

{{ elements.comment_form() }}

  <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <!-- The time line -->
      <ul class="timeline">
        {{ elements.comments() }}
      </ul>
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %}


{% block modals %}
<div class="modal-dialog" id="modal-manage-contributors">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title">참여자</h4>
    </div>
    <div class="modal-body">
      <div class="box">
        <div class="box-body">
          <div id="modal-contributor-list"></div>
          <table id="table-members" class="table table-bordered table-hover dataTable">
            <thead>
              <tr>
                <th>기수</th>
                <th>이름</th>
                <th>부서</th>
                <th>추가</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default pull-left" id="modal-manage-contributors-cancel">취소</button>
      <button type="button" class="btn btn-primary" id="modal-manage-contributors-confirm">확인</button>
    </div>
  </div><!-- /.modal-content -->
</div>
{% endblock %}

{% block styles %}
<link href="{{url_for('static', filename='adminLTE/plugins/datatables/dataTables.bootstrap.css')}}" rel="stylesheet" type="text/css" /  >
<link href="{{url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='adminLTE/plugins/bootstrap-slider/slider.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='adminLTE/plugins/datatables/jquery.dataTables.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='adminLTE/plugins/datatables/dataTables.bootstrap.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/bootstrap-datetimepicker.min.js')}}" type="text/javascript"></script>
<script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/jquery.easyModal.js')}}"></script>
<script src="{{url_for('static', filename='adminLTE/plugins/bootstrap-slider/bootstrap-slider.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/task_manager.js')}}"></script>

<script type="text/javascript">

{{ elements.generate_data() }}

var manager = new TaskManager({{task.level}}, task, parents, children, contributors);
</script>

{% endblock %}
