{% extends "memberapp/base.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Suggestions
    <small>suggestions for next meeting</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/stem"><i class="fa fa-hand-o-up"></i> Home</a></li>
    <li class="active">Suggestions</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">건의사항 등록</h3>
              </div><!-- /.box-header -->
              <div class="box-body">
                <div class="form-group">
                  <label>제목</label>
                  <input class="form-control" type="text" placeholder="Title" id="issue-title">
                </div>
                <div class="form-group">
                  <label>내용</label>
                  <textarea class="form-control" rows="3" id="issue-description"></textarea>
                </div>
                <div class="form-group">
                <button onclick="addIssue()" type="add" class="btn btn-primary pull-right">등록</button>
                </div>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>


  <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <!-- The time line -->
      <ul class="timeline">
        {% for issue in milestone.children[::-1] %}
        <!-- timeline item -->
        {% if loop.first or issue.timestamp.strftime('%Y%m%d') !=
          milestone.children[loop.revindex0 + 1].timestamp.strftime('%Y%m%d') %}

          <li class="time-label">
            <span class="bg-red">
              {{ issue.timestamp.strftime('%Y.%m.%d') }}
            </span>
          </li>
        {% endif %}
        <li>
          <i class="fa fa-gears bg-green"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ issue.timestamp.strftime('%H:%M')}} by <a href="#">{{ issue.creator.user.nickname }}</a></span>
            <h3 class="timeline-header"><small>[#{{ issue.id }}]</small> <em>{{ issue.name }}</em></h3>
            <div class="timeline-body">
                <blockquote style="font-size:100%">
                {{ issue.description | nl2br | safe}}
                </blockquote>
            </div>
            <div class='timeline-footer'>
            </div>
          </div>
        </li>
        <!-- END timeline item -->
        {% endfor %}
        <li>
          <i class="fa fa-clock-o bg-gray"></i>
        </li>
      </ul>
    </div><!-- /.col -->
  </div><!-- /.row -->

</section><!-- /.content -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
function addIssue() {
  var name = $("#issue-title").val();
  var description = $("#issue-description").val();

  $("#issue-title").val('');
  $("#issue-description").val('');

  $.ajax({
    url: "/stem/api/task",
    type:"POST",
    data: {
        name: name,
        description: description.replace('\n','<br>'),
        level: 1,
        parents: [0]
    },
    success: function(data) {
      location.reload();
    },
    error: function() {
      alert('오류가 발생했습니다.');
      $("#issue-title").val(name);
      $("#issue-description").val(description);
    }
  });
}
</script>
{% endblock %}
wewe14a52