{% macro tag_list() -%}
{% if (task.tags|length) > 0 %}
<div id="tags"><i class="fa fa-tag"></i>
  {% for tag in task.tags %}<span class="tag-badge label bg-orange">#{{tag.title}}</span>{% endfor %}
</div>
{% endif %}
{%- endmacro %}

{% macro contributor_list() -%}
<h5>시작한 사람 <span class="label label-primary"><i class="fa fa-star"></i>{{task.creator.user.nickname}}</span><br></h5>
<h5>참여자
  {% if current_user.member.editable(task) %}
  <small><i class="fa fa-pencil command-elem" id="manage-contributors-open"></i></small>
  {% endif %}
</h5>
<div id="contributors">
{% for member in task.contributors %}
  <span class="label label-primary member-badge" data-member-id="{{member.id}}">{{member.user.nickname}}
    <i class="fa fa-times command-elem" style="display:none;"></i></span>
{% endfor %}
</div>
{%- endmacro %}

{% macro status_select() -%}
<div class="label select-wrapper">
  <select class="select-status{% if current_user.member.editable(task) %} command-elem{% else %}" disabled="true{% endif %}">
    <option value="0">진행중</option>
    <option value="1">완료</option>
    <option value="2">보관됨</option>
    <option value="3">제외됨</option>
  </select>
</div>
{%- endmacro %}

{% macro priority_select() -%}
<div class="label select-wrapper">
  <select class="select-priority{% if current_user.member.editable(task) %} command-elem{% else %}" disabled="true{% endif %}">
    <option value="3">급함</option>
    <option value="2">중요함</option>
    <option value="1">보통</option>
    <option value="0">시간날 때</option>
  </select>
</div>
{%- endmacro %}

{% macro all_select() -%}
{{ priority_select()}}&nbsp;
{{ status_select() }}
{%- endmacro %}

{% macro all_select_noupdate_script() -%}
$(".select-wrapper select").change(function(event) {
  var priority_color = ['bg-aqua','bg-green','bg-yellow','bg-red'];
  var status_color = ['bg-aqua','bg-green','bg-gray', 'bg-black'];
  var label_width = [0,16,26,36,46,50];
  var w = label_width[$("option:selected", this).text().length];
  var i = $(this).val();
  $(this).css("width", w + "px");

  if ($(this).hasClass("select-priority")) {
    $(this).parent().removeClass(priority_color.join(' '));
    $(this).parent().addClass(priority_color[i]);
  } else {
    $(this).parent().removeClass(status_color.join(' '));
    $(this).parent().addClass(status_color[i]);
  }
});

$(".select-priority").val(1);
$(".select-status").val(0);
$(".select-wrapper select").change();
{%- endmacro %}

{% set priority_color = ['bg-aqua','bg-green','bg-yellow','bg-red'] %}
{% set priority_text = ['시간날 때','보통','중요','급함'] %}
{% set status_color = ['bg-aqua','bg-green','bg-gray','bg-black'] %}
{% set status_text = ['진행중','완료','보관됨','제외됨'] %}
{% set task_type = ['마일스톤','일거리','세부 업무'] %}
{% set task_type_eng = ['milestone','issue','subtask'] %}

{% macro task_form(level=0, modal=False) -%}
{% if modal %}
  {% set modal_prefix="modal-" %}
  {% set modal_class="modal-elem " %}
{% else %}
  {% set modal_prefix="" %}
  {% set modal_class="" %}
{% endif %}
<form role="form">
    <div class="form-group">
        <label for="{{modal_prefix}}task-name">{{task_type[level]}} 이름</label>
        <input class="form-control" id="{{modal_prefix}}task-name" type="text">
    </div>
    <div class="form-group">
        <label for="{{modal_prefix}}task-deadline">마감일</label>
        <div class="input-group date" id="{{modal_prefix}}task-deadline">
            <input class="form-control" type="text">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="label select-wrapper">
            <select class="{{modal_class}}select-priority command-elem">
                <option value="3">급함</option>
                <option value="2">중요함</option>
                <option value="1">보통</option>
                <option value="0">시간날 때</option>
            </select>
        </div>&nbsp;
        <div class="{{modal_class}}label select-wrapper">
            <select class="select-status command-elem">
                <option value="0">진행중</option>
                <option value="1">완료</option>
                <option value="2">보관됨</option>
                <option value="3">제외됨</option>
            </select>
        </div>
    </div>
    {% if level == 0 %}
    <div class="form-group">
        <label for="{{modal_prefix}}task-children">하위 업무 ID (, 로 구분)</label>
        <input class="form-control" id="{{modal_prefix}}task-children" type="text">
    </div>
    {% elif level == 1 %}
    <div class="form-group">
        <label for="{{modal_prefix}}task-parents">상위 업무 ID (, 로 구분)</label>
        <input class="form-control" id="{{modal_prefix}}task-parents" type="text">
    </div>
    {% endif %}
    <div class="form-group">
        <label for="{{modal_prefix}}task-contributors">참여자 ID (, 로 구분)</label>
        <input class="form-control" id="{{modal_prefix}}task-contributors" type="text">
    </div>
    <div class="checkbox">
      <label>
        <input id="{{modal_prefix}}task-contrubutor-auto" type="checkbox"> 참여자 자동으로 채우기
      </label>
    </div>
    <div class="form-group">
        <label for="{{modal_prefix}}task-description">설명</label>
        <textarea id="{{modal_prefix}}task-description"></textarea>
    </div>
    {% if modal %}
      <button type="button" class="pull-right btn btn-primary" onclick="modal_addTask({{level}})">추가</button>
    {% endif %}
</form>
{%- endmacro %}

{% macro task_form_script(level=0, modal=False) -%}
{% if modal %}
  {% set modal_prefix="modal-" %}
  {% set modal_class=".modal-elem" %}
{% else %}
  {% set modal_prefix="" %}
  {% set modal_class="" %}
{% endif %}
$("#{{modal_prefix}}task-description").attr("contenteditable", true);
var description_editor = CKEDITOR.replace(
  '{{modal_prefix}}task-description',
  {toolbarGroups:[
    { name: 'clipboard',   groups: ['undo' ] },
    { name: 'links' },
    { name: 'insert' },
    { name: 'forms' },
    { name: 'tools' },
    { name: 'others' },
    '/',
    { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
    { name: 'paragraph',   groups: [ 'list', 'indent', 'blocks', 'align' ] },
    { name: 'styles' },
    { name: 'colors' }]
});
$('#{{modal_prefix}}task-deadline').datetimepicker({
    locale: 'ko',
    defaultDate: moment().add(7, 'days').minute(0).second(0)
});

function {%if modal%}modal_{%endif%}addTask(level) {
  function parse(text) {
    return text.split(/ *, */).map(Number);
  }
  if (!level) level = {{level}};
  var data = {}
  data.level = level;
  data.name = $("#{{modal_prefix}}task-name").val().trim();
  data.description = description_editor.getData();
  data.deadline = $("#{{modal_prefix}}task-deadline")
    .data("DateTimePicker").date().unix();
  data.parents = [];
  data.children = [];
  data.status = $("{{modal_class}}.select-status").val();
  data.priority = $("{{modal_class}}.select-priority").val();

  if (data.name === "") {
    alert("이름을 입력해 주세요.");
    return;
  }

  if (level === 0) {
    data.children = parse($("#task-children").val());
  } else if (level === 1) {
    data.parents = parse($("#task-parents").val());
  } {% if level == 2 %}else if (level === 2) {
    data.parents = [{{task.id}}];
  }{% endif %}
  data.contributors = parse($("#{{modal_prefix}}task-contributors").val());
  data.contributor_auto = $("#{{modal_prefix}}task-contrubutor-auto").prop("checked");

  $.ajax({
    url: "/stem/api/task",
    type: "POST",
    data: data,
    success: function(data) {
      location.reload();
    },
    error: function() {
      alert("일정 생성 중 오류가 발생했습니다. 다시 시도해주세요.");
    }
  });
}
{{ all_select_noupdate_script() }}

{%- endmacro %}

{% macro task_box_content(box_task) -%}
<div class="info-box-content">
    {% if task.level == 1 %}
        <span class="info-box-number">#{{task.local_id}}-{{box_task.local_id}}</span>
    {% else %}
        <span class="info-box-number">#{{box_task.local_id}}</span>
    {% endif %}
    <span class="info-box-text">{{box_task.name}}</span>
    <div class="progress">
        <div class="progress-bar" style="width: {{box_task.progress}}%"></div>
    </div>
    <span class="progress-description">
        {{box_task.progress}}% 완료
    </span>
</div><!-- /.info-box-content -->
{%- endmacro %}

{% macro child_task_accordion() -%}

{% set type = task_type_eng[task.level] %}
{% if task.level < 2 %}
{% set child_type = task_type_eng[task.level+1] %}
{% endif %}
{% if task.level > 0 %}
{% set parent_type = task_type_eng[task.level-1] %}
{% endif %}

  <div class="box-group" id="accordion">
    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
    <div class="panel box box-primary">
      <div class="box-header with-border">
        <h4 class="box-title">
          <span class="" aria-expanded="true" data-toggle="collapse" data-parent="#accordion" href="#collapse-opened" style="cursor:pointer">
            진행중인 {{task_type[task.level+1]}}
          </span>
        </h4>
      </div>
      <div style="" aria-expanded="true" id="collapse-opened" class="panel-collapse collapse in">
        <div class="box-body">
            <div class="row" id="task-opened">

    {% for child_task in task.filter_children(0) %}
    <div class="col-md-4 col-sm-6 col-xs-12 task-box" data-task-id="{{child_task.id}}">
    <a href="/stem/{{child_type}}/{{child_task.id}}">
      <div class="info-box {{priority_color[child_task.priority]}}">
        <span class="info-box-icon"><i class="fa fa-gears"></i></span>
        {{ task_box_content(child_task) }}
      </div>
    </a>
    </div>
    {% endfor %}

            </div>
        </div>
      </div>
    </div>
    <div class="panel box box-danger">
      <div class="box-header witborder">
        <h4 class="box-title">
          <span class="" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#collapse-closed" style="cursor:pointer">
            완료된 {{task_type[task.level+1]}}
          </span>
        </h4>
      </div>
      <div style="" aria-expanded="false" id="collapse-closed" class="panel-collapse collapse">
        <div class="box-body">
            <div class="row" id="task-closed">
{% for child_task in task.filter_children(1) %}
<div class="col-md-4 col-sm-6 col-xs-12 task-box" data-task-id="{{child_task.id}}">
<a href="/stem/{{child_type}}/{{child_task.id}}">
  <div class="info-box bg-green">
    <span class="info-box-icon"><i class="fa fa-check-square-o"></i></span>
    {{ task_box_content(child_task) }}
  </div>
</a>
</div>
{% endfor %}
            </div>
        </div>
      </div>
    </div>
    <div class="panel box box-success">
      <div class="box-header with-border">
        <h4 class="box-title">
          <span class="" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#collapse-archived" style="cursor:pointer">
            보관된 {{task_type[task.level+1]}}
          </span>
        </h4>
      </div>
      <div style="" aria-expanded="false" id="collapse-archived" class="panel-collapse collapse">
        <div class="box-body">
            <div class="row" id="task-archived">
{% for child_task in task.filter_children(2) %}
<div class="col-md-4 col-sm-6 col-xs-12 task-box" data-task-id="{{child_task.id}}">
<a href="/stem/{{child_type}}/{{child_task.id}}">
  <div class="info-box bg-gray">
    <span class="info-box-icon"><i class="fa fa-check-square-o"></i></span>
    {{ task_box_content(child_task) }}
  </div>
</a>
</div>
{% endfor %}
{% for child_task in task.filter_children(3) %}
<div class="col-md-4 col-sm-6 col-xs-12 task-box" data-task-id="{{child_task.id}}">
<a href="/stem/{{child_type}}/{{child_task.id}}">
  <div class="info-box bg-black">
    <span class="info-box-icon"><i class="fa fa-trash"></i></span>
    {{ task_box_content(child_task) }}
  </div>
</a>
</div>
{% endfor %}
          </div>
        </div>
      </div>
  </div>
{%- endmacro %}

{% macro comment_form() -%}
<div class="box">
  <div class="box-header with-border">
  댓글 쓰기
  </div>
  <div class="box-body">
    <form enctype="multipart/form-data" role="form" action="/stem/api/task_comment" method="POST">
      <input name="task_id" type="hidden" value="{{task.id}}" />
      <input name="redirect" type="hidden" value="/stem/{{task_type_eng[task.level]}}/{{task.id}}" />
      <div class="form-group">
        <label>제목</label>
        <input name="title" class="form-control" type="text" placeholder="Title" id="comment-title" />
      </div>
      <div class="form-group">
        <label>내용</label>
        <textarea name="body" class="form-control" rows="3" id="comment-body"></textarea>
      </div>
      <div class="form-group">
        <label for="comment-files">첨부 파일</label>
        <input name="files" id="comment-files" type="file" multiple="true">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary pull-right">쓰기</button>
      </div>
    </form>
  </div>
</div>
{%- endmacro %}

{% macro comments() -%}
{% for comment in task.comments[::-1] %}
  {% if loop.first or comment.timestamp.strftime('%Y%m%d') !=
    task.comments[loop.revindex0 + 1].timestamp.strftime('%Y%m%d') %}

    <li class="time-label">
      <span class="bg-red">
        {{ comment.timestamp.strftime('%Y.%m.%d') }}
      </span>
    </li>
  {% endif %}

  <li>
  {% if comment.comment_type == 0 %}
    <i class="fa fa-commenting bg-yellow"></i>
  {% elif comment.comment_type == 1 %}
    <i class="fa fa-wrench bg-aqua"></i>
  {% elif comment.comment_type == 3 %}
    <i class="fa fa-file bg-blue"></i>
  {% else %}
    <i class="fa fa-trophy bg-yellow"></i>
  {% endif %}
  <div class="timeline-item">
    <span class="time"><i class="fa fa-clock-o"></i> {{ comment.timestamp.strftime('%y-%m-%d %H:%M')}} by <a href="#">{{comment.member.user.nickname}}</a></span>
    <h3 class="timeline-header">{{comment.title}}</h3>

    <div class="timeline-body">
      {{comment.body | safe}}
    </div>
    <div class='timeline-footer'>
      {% if comment.tags.count() > 0 %}
      <p>
        <i class="fa fa-tag"></i>
        {% for tag in comment.tags %}
          <span class="label label-info">#{{tag.title}}</span>
        {% endfor %}
      </p>
      {% endif %}
      {% if comment.comment_type == 3 %}
        {% for file in comment.files %}
          <i class="fa fa-file"></i> <a href="/static/upload/{{file.link}}" download="{{file.name}}">{{file.name}}</a>&nbsp;
        {% endfor %}
      {% endif %}
      {% if comment.comment_type == 2 %}
          <a class="btn btn-primary btn-xs">See detailed subtask</a>
          <a class="btn btn-danger btn-xs">Modify subtask</a>
      {% endif %}
    </div>
  </div>
</li>
{% endfor %}
<li>
  <i class="fa fa-clock-o bg-gray"></i>
</li>

{%- endmacro %}

{% macro generate_data() -%}
var children = [
    {% for task in task.children %}
    new Task({{task.id}},{{task.local_id}},"{{task.name}}",
        {{task.status}},{{task.priority}},{{task.level}},{{task.progress}}){% if not loop.last %}, {% endif %}
    {% endfor %}
];

var parents = [
    {% for task in task.parents %}
    new Task({{task.id}},{{task.local_id}},"{{task.name}}",
        {{task.status}},{{task.priority}},{{task.level}},{{task.progress}}){% if not loop.last %}, {% endif %}
    {% endfor %}
];

var contributors = [
    {% for member in task.contributors %}
    new Member({{member.id}}, "{{member.user.nickname}}"),
    {% endfor %}
    new Member({{task.creator.id}}, "{{task.creator.user.nickname}}", true)
];

var task = new Task({{task.id}},{{task.local_id}},"{{task.name}}",
        {{task.status}},{{task.priority}},{{task.level}},{{task.progress}});
task.deadline = {{task.deadline.timestamp()}}
{%- endmacro %}

{% macro modal_contributors() -%}
<div class="modal-dialog" id="modal-manage-contributors">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title">참여자</h4>
    </div>
    <div class="modal-body">
      <div class="box">
        <div class="box-body">
          <div id="modal-contributor-list"></div>
          <table id="table-members" class="table table-bordered table-hover dataTable">
            <thead>
              <tr>
                <th>기수</th>
                <th>이름</th>
                <th>부서</th>
                <th>추가</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default pull-left" id="modal-manage-contributors-cancel">취소</button>
      <button type="button" class="btn btn-primary" id="modal-manage-contributors-confirm">확인</button>
    </div>
  </div><!-- /.modal-content -->
</div>
{%- endmacro %}