{% extends "mobile/base.html" %}

{% block section %}
    <!-- About Section -->

	{% macro PT_BoardTopList(rec, actpage) -%}
	    {% for article in rec %}
	        <dd><a class="title2" href="post/{{article.id}}/view">{{ article.title }}
	        {% if article.commentCount %} <span class="comment-count">[{{article.commentCount}}]</span>{% endif %}&nbsp;
	        {% if article.level == 2 %}<img src="{{url_for('static', filename='images/ico_lock.gif')}}"  border='0' alt='LOCKED'/>{% endif %}
	        {% if article.new %}<img src="{{url_for('static', filename='images/ico_new.gif')}}"  border='0' alt='NEW'/>{% endif %}
	        </a></dd>
	    {% endfor %}
	{% endmacro %}    

	{% macro PT_MainThumbImage(rec, index) -%}

	    {% for banner in rec %}
	        {% if banner.href and banner.href != '#' %}
	            <a href="{{ banner.href }}"><img class="banner img-rounded" src="{{ url_for('static', filename=('upload/mainbanner/' + banner.src)) }}" style="width: 0px; height: 0px; border:0;" alt="{{banner.description}}">
	            </a>
	        {% else %}
	            <img class="banner img-rounded" src="../static/upload/mainbanner/{{ banner.src }}" style="width: 0px; height: 0px; border:0;" alt="{{banner.description}}">
	        {% endif %}
	    {% endfor %}

	{% endmacro %}

    <section id ="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="slideshow1 cycle-slideshow" data-cycle-swipe="true" data-cycle-swipe-fx="scrollHorz" data-cycle-pager="#slider_links1" data-cycle-fx="scrollHorz">
                        {{ PT_MainThumbImage(bannerRec,1) }}
                    </div>
                        <div id="slider_links1" class="center"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="main" style="margin-top:0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-center" style="margin-top:0; margin-bottom:20px;"><b>SNU Tomorrow's Edge Membership (STEM)</b></h2><hr>
                    <div class="m_images"><a href="/sub/4-1"><img src="{{ url_for('static', filename='images/m_recruit.png') }}" class="img-rounded" /></a></div>
                    <div class="m_images"><a href="/sub/2-1"><img src="{{ url_for('static', filename='images/m_activities.png') }}" class="img-rounded" /></a></div>
                    <div class="m_images"><img src="{{ url_for('static', filename='images/m_notice_img.gif') }}" class="img-rounded" /></div>
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-12 boards">
                    {% for board in boards %}
                    <div class="board">
                        <dl>
                          <dt><span class="title">{{board.name}}</span><a href="javascript:go_menu('sub5_{{board.id}}')"><span class="more">더보기 <i class="fa fa-chevron-right"></i></a></span></dt>
                         {{ PT_BoardTopList(boardRec[loop.index0], '/sub/sub5_%d'%board.id ) }}
                     </dl>
                   </div>
                   {% endfor %}
                </div>
            </div>
    </section>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
  $(document).ready(function(){
    var img=$('.banner');
    var w = $('.container').width();
    var h = w * 45 / 73;
    img.width(w);
    img.height(h);

    $('#slider_links1').css('margin-left', (w-$('#slider_links1').width())/2);
  });

  $(window).resize(function(){
    var img=$('.banner');
    var w=$('.container').width();
  	img.css('width', w);
  	img.css('height', w*45/73);
    $('.slideshow1').css('width', w);
    $('.slideshow1').css('height', w*45/73);

    $('#slider_links1').css('margin-left', (w-$('#slider_links1').width())/2);
  });

</script>

{% endblock %}