{% extends "mobile/base.html" %}
{% block section %}
<section>
    <div class="container">
                <div class="col-md-12 text-center">
                    <h5 id="subtitle">:: About Us ::</h5>
                    {% include "mobile/subnavi.html" %}
                    <h2 class="section-heading" style="margin:0;"><b>Vision</b></h2>
                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange">
                    <h3 class="text-center" style="margin:20px 0; line-height:2em;"><big>공학적 소양</big>을 바탕으로,<br> <big>입체적 시각</big>을 갖추고,<br> <big>사회와 소통</big>하는 <big>리더</big>로 성장한다.</h4>
                    <p class="text-muted">
                        <b>공학적 소양</b>이란 문제를 시스템화하여 체계적으로 분석하는 능력, 최적화하여 합리적인 해결책을 제시하는 능력을 말합니다. 공우는 이러한 소양을 기반으로 현 시대에 필요한 창의적인 리더상을 제시합니다. 공우는 공학적 소양 외에도 인문, 사회, 예술을 비롯한 여러 분야의 지식을 습득하고 경험할 수 있는 활동을 추구합니다.이러한 경험을 통해, <b>현상을 다각도로 접근할 수 있는 입체적인 시각</b>을 갖추고자 합니다.  
                    </p>
                    <p class="text-muted">궁극적으로 공우가 진정으로 중요하다고 생각하는 가치는 바로 ‘소통’입니다. 다양한 분야에 대해 깊이 이해하고 함께 나아가기 위해 소통은 필수불가결합니다. 공우는 학문 간의 소통, 사회  구성원 간의 소통, 그리고 국제 사회와의 소통 등 <b>다양한 방면에서 소통</b>을 추구해나갈 것 입니다.
                    </p>
                    <p class="text-muted">현대사회는 수많은 복잡한 문제로 얽혀 있습니다. 공우는 공학적 소양, 입체적 시각, 소통하는 정신을 바탕으로 <b>사회 발전에 새로운 방향을 제시하는 나침반</b>이 되겠습니다.
                    </p>
                    <p class="text-muted">공우(STEM)는 비전을 달성하기 위해 <b>다음의 4가지 가치를 지향</b>하는 활동을 합니다.</p>
                    </p>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <ul class="list-unstyled" style="font-size:14px">
                            <hr style="display: block; border: solid 5px #f19000;margin:10px 0;">
                            <li class="text-muted"><span style="font-size:1.5rem; font-weight:bold;">학술:</span><br><p style="padding:10px 0 0 0;"> 공우는 공과대학 모든 학과의 학생들로 조화롭게 구성되어 있다. 회원간의 학문 교류는 물론이고, 나아가서 다른 학과와 다른 분야의 사람들과 교류하여 지식을 쌓고, 이를 바탕으로 새로운 분야를 창출한다.</p></li>
                            <hr style="display: block; border: dotted 1px #c0c0c0;margin:10px 0;">
                            <li class="text-muted"><span style="font-size:1.5rem; font-weight:bold;">봉사:</span><br><p style="padding:10px 0 0 0;"> 사회 기여의 첫 걸음은 봉사이다. 소모적이고 단순한 봉사가 아닌, 서로에게 가치 있는 결과를 도출할 수 있는 봉사 활동을 추구함으로써 참 의미를 새기고 봉사 정신을 함양한다.</p></li>
                            <hr style="display: block; border: dotted 1px #c0c0c0;margin:10px 0;">
                            <li class="text-muted"><span style="font-size:1.5rem; font-weight:bold;">교류:</span><br><p style="padding:10px 0 0 0;"> 폭넓은 교류를 통해 공우가 추구하는 ‘소통’을 실현한다. 앞에서 언급한 학술, 봉사를 비롯하여 다양한 나라와 대학, 기관들, 그리고 다양한 직업을 가진 사람들과 교류하며 세상을 보는 시야를 넓힌다.</p></li>
                            <hr style="display: block; border: dotted 1px #c0c0c0;margin:10px 0;">
                            <li class="text-muted"><span style="font-size:1.5rem; font-weight:bold;">리더십:</span><br><p style="padding:10px 0 0 0;"> 비전을 지녔어도 혼자서는 아무것도 이루어낼 수 없다. 각종 리더십 프로그램과 직접적인 경험을 통한 끊임없는 고민을 바탕으로, 비전을 공유하며 조직을 효과적으로 이끄는 리더가 되는 것을 목표로 한다.</p></li>
                            <hr style="display: block; border: solid 5px #f19000;margin:5px 0 10px 0;">
                        </ul>
                        </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                </div>
    </div><br>
</section>
{% endblock %}