{% extends "mobile/base.html" %}
{% block section %}
<section>
    <div class="container">
                <div class="col-md-12 text-center">
                    <h5 id="subtitle">:: About Us ::</h5>
                    {% include "mobile/subnavi.html" %}
                    <h2 class="section-heading" style="margin:0;"><b>Contact</b></h2>
                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center" style="margin:20px 0;">회장</h4>
                    <p class="text-center text-muted">
                        <big><b>강명지</b></big> (7기, 산업공학과)
                    </p><hr>
                    <h4 class="text-center" style="margin:20px 0;">주소</h4>
                    <p class="text-center text-muted">
                        서울특별시 관악구 관악로 1 (서울대학교)<br>신양학술정보관(44-1동) 402-1호,<br>공과대학 우수학생센터(공우)<br> (우) 08826
                    </p><hr>
                    <h4 class="text-center" style="margin:20px 0;">연락처</h4>
                    <p class="text-center text-muted">
                        이메일 : <a href="mailto:stemsnu@gmail.com">stemsnu@gmail.com</a><br>카카오톡 : @stemsnu
                    </p>
                </div>
    </div><br>
</section>
{% endblock %}