{% extends "mobile/base.html" %}
{% block section %}
<section>
    <div class="container">
                <div class="col-md-12 text-center">
                    <h5 id="subtitle">:: About Us ::</h5>
                    {% include "mobile/subnavi.html" %}
                    <h2 class="section-heading" style="margin:0;"><b>Map</b></h2>
                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange" style="margin-bottom:-10px;">
                    <h4 class="text-center">공우(STEM) 동아리방 오시는 길</h4><br>
                </div>
                <div id="map" style="width:100%; height:600px; border: 1px solid #c0c0c0;"></div>
                <div class="col-md-8 col-md-offset-2 stem-orange" style="margin-top:20px;">
                    <p class="text-muted" style="text-align:center;"><b>5511, 관악02 이용 시</b> : 에너지자원연구소<small>(21290)</small> 하차 후 에너지자원연구소<small>(135동)</small> 방향 이동 (도보 3분)</p>
                    <p class="text-muted" style="text-align:center;"><b>5513, 5516 이용 시</b> : 공대입구<small>(21273)</small> 하차 후 글로벌공학교육센터<small>(38동)</small> 방향 이동 (도보 2분)</p>
                    <p class="text-muted" style="text-align:center;"><b>행정관 셔틀 이용 시</b> : 행정관 하차 후 관정도서관<small>(62-1동)</small>, 멀티미디어강의동<small>(43-1동)</small> 거쳐 이동 (도보 10분)</p>
                </div><br>
    </div>
</section>
{% endblock %}

{% block scripts %}

<script>
  function initMap() {
    var myLatLng = {lat: 37.455197, lng: 126.952001};

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      scrollwheel: true,
      zoom: 17
    });

    // Create a marker and set its position.
    var marker = new google.maps.Marker({
      map: map,
      position: myLatLng,
      title: '서울대학교 공과대학 우수학생센터 공우(STEM)'
    });

    var content = "<b>서울대학교 공우(STEM)</b><p style='font-size:12px; font-weight:bold;'>서울시 관악구 관악로 1 (서울대학교)<br>신양학술정보관(44-1동) 402-1호,<br>공과대학 우수학생센터(공우)</p>"; 

    var infowindow = new google.maps.InfoWindow({ content: content});
        infowindow.open(map,marker);

    google.maps.event.addListener(marker, "click", function() {
        infowindow.open(map,marker);
    });


  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3kfXe5VOihHJlaVY1bNnkANqH-p4LM&callback=initMap"
    async defer></script>

{% endblock %}