{% extends "mobile/base.html" %}
{% block section %}
<section>
    <div class="container">
                <div class="col-md-12 text-center">
                    <h5 id="subtitle">:: Activities ::</h5>
                    {% include "mobile/subnavi.html" %}
                    <h2 class="section-heading" style="margin:0 0 10px 0;"><b>Leadership</b></h2>
                </div>

                <div class="col-md-12 text-center">
                    <p class="text-muted text-center">
                        뚜렷한 비전을 지녔어도 혼자서는 아무것도 이루어낼 수 없습니다. 공우(STEM)는 더불어 사는 사회를 지향하고 이에 앞으로 사회를 이끌어나갈 주도적인 역할을 다할 수 있도록 각종 리더십 프로그램을 기획하여 활동하고 있습니다.
                    </p>
                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center" style="margin:20px 0;">엘스퀘어(L-Square)</h4>
                    <p class="text-muted">
                        ‘좋은 리더’란 어떤 사람일까요? 엘스퀘어(L-Square)는 자신에게 맞는 리더십 유형과 공우 회원들 간의 서로 다른 리더십 스타일을 공유하기 위해 진행됩니다. 총 2부, 4시간 동안 진행한 2016년 엘스퀘어(L-Square)는 임의의 상황에 따른 리더의 역할을 회원들끼리 함께 고민해보는 유익한 시간이었습니다.
                    </p>
                    <ul class="list-unstyled text-muted">
                        <hr style="display: block; border: solid 3px #f19000;margin:5px 0;">
                        <li class="nostyle"><span style="font-weight:bold;">1부 - 리더십 유형 토론</span><br><p style="padding:5px 0 0 0;">심리 검사를 통해서 자신의 유형을 분석한 후 자신의 유형을 공유하는 시간을 가져보았습니다. 약 1년 동안 함께한 동료들이기 때문에 심리 검사 결과 나타난 유형이 외부에서 본 시선과 얼마나 비슷한지 서로 코멘트를 해주었습니다. 내가 보지 못한 나의 모습을 동료들을 통해 알아가는 좋은 시간이었습니다.</p></li>
                        <hr style="display: block; border: dotted 1px #c0c0c0;margin:5px 0;">
                        <li class="nostyle"><span style="font-weight:bold;">2부 - 리더십 상황 적용</span><br><p style="padding:5px 0 0 0;">딜레마 상황에 대해서 리더가 취해야 할 자세에 대해서 얘기해보는 시간을 가졌습니다. 예를 들어 리더로서 팀원을 선택할 때 성격과 능력 중 무엇을 우선시 할 것인가 등을 공우 회원들 입장에서 개개인의 입장을 들어보았습니다. 나와 다른 선택을 하는 리더의 모습을 보면서 내 선택의 장단점을 돌아볼 수 있었습니다.</p></li>
                        <hr style="display: block; border: solid 3px #f19000;margin:5px 0 20px 0;">
                    </ul>

                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center" style="margin:20px 0;">외부연사 초청 리더십 강연</h4>
                    <p class="text-muted">
                        공우는 리더십에 대한 교훈을 얻을 수 있는 외부 연사로부터 리더와 리더십에 대한 강연을 듣고 토론하는 프로그램을 진행합니다. 지난 2016년에는 Dale Carnegie Korea 리더십 세미나, 그리고 대학생활문화원 역량개발 세미나 프로그램을 진행하였으며, 리더십에 대해 조금 더 전문적으로 알아가는 계기가 되었습니다.
                    </p>
                    <ul class="list-unstyled text-muted">
                        <hr style="display: block; border: solid 3px #f19000;margin:5px 0;">
                        <li class="nostyle"><span style="font-weight:bold;">Dale Carnegie Korea 리더십 세미나</span><br><p style="padding:5px 0 0 0;">데일 카네기 리더십 센터에서 리더십 전문 강사를 초빙하여 리더십 강연을 진행하였습니다. 리더의 5가지 요소, 4가지 리더십 유형 파악, 인간관계의 4원칙 등 리더십 전반에 대하여 토론 활동과 강연을 하였습니다.</p></li>
                        <hr style="display: block; border: dotted 1px #c0c0c0;margin:5px 0;">
                        <li class="nostyle"><span style="font-weight:bold;">서울대학교 대학생활문화원 역량개발 세미나</span><br><p style="padding:5px 0 0 0;">서울대학교 대학생활문화원에서 강연자를 초빙하여 리더십 강연을 진행하였습니다. 리더십에 대한 고찰을 위해 서로에게 칭찬을 해주면서 실타래를 던져주는 활동, 감정이 적힌 카드를 받은 뒤 돌아가면서 설명하는 활동 등을 진행하였습니다. 다음에 각자의 리더십 유형에 대해 알아보는 방식으로 진행되었습니다..</p></li>
                        <hr style="display: block; border: solid 3px #f19000;margin:5px 0 20px 0;">
                    </ul>
                </div><br>
    </div>
</section>
{% endblock %}