{% extends "mobile/base.html" %}
{% block section %}
<section>
    <div class="container">
                <div class="col-md-12 text-center">
                    <h5 id="subtitle">:: Activities ::</h5>
                    {% include "mobile/subnavi.html" %}
                    <h2 class="section-heading" style="margin:0 0 10px 0;"><b>Voluntary Service</b></h2>
                </div>

                <div class="col-md-12 text-center">
                    <p class="text-muted text-center">
                        사회에 기여하는 첫 걸음은 바로 봉사입니다. 공우(STEM)에서는 사회에 기여하고 사회와 소통할 줄 아는 리더를 배출하기 위해서 각종 봉사 활동을 진행하고 있습니다.
                    </p>
                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center" style="margin:20px 0;">비전 멘토링(Vision Mentoring)</h4>
                    <p class="text-muted">
                        비전 멘토링은 공우 1기 회원들이 직접 기획, 제작한 강연회 형식의 멘토링 프로그램입니다. 공과대학 학생들이 모인 공우 안의 시너지를 활용하여 공대의 각 전공들을 소개하고 공학자로서의 비전(Vision)을 전달해주는 것을 목표로 합니다.<br><br>
                        비전멘토링은 1부 ‘서울대 공우, 공학을 말하다’와 2부 ‘공우가 전하는 공부법’ 그리고 3부 ‘공우가 해주고 싶은 꿈 이야기’로 구성되어있습니다. 공우 회원들은 학생들에게 공우의 뒤를 이어 공학의 길을 꿈꿀 수 있도록 서울대 공대를 소개하고, 공우 회원들이 공부를 해온 방법들을 들려줍니다. 마지막으로는 공우 회원들의 창의적인 꿈들을 학생들과 나누고 있습니다.<br><br>
                        현재까지 10회 이상의 비전 멘토링을 진행하면서 서울 뿐 아니라 창원시, 인천시, 경남 도교육청과도 연계하여 다양한 지역의 학생들과 소통할 수 있는 기회를 만들어 왔습니다. 또한 지금까지 매년 전반기 1500여명 후반기 300여 명씩 수많은 학생들이 비전 멘토링을 거쳐갔을 정도로 꾸준히 진행되고 있는 공우의 대표 활동입니다. 매년마다 연례적으로 실시하는 행사이지만, 할 때마다 보람참과 뿌듯함을 느낄 수 있는 행사, 참가하는 학생, 진행하는 공우 회원 모두에게 행복을 주는 강연, 바로 비전멘토링입니다.
                    </p>
                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center" style="margin:20px 0;">미니 멘토링(Mini Mentoring)</h4>
                    <p class="text-muted">
                        미니 멘토링은 비전 멘토링만을 진행해오던 때의 아쉬운 부분들을 채워주기 위해 공우 2기, 3기 회원들이 기획한 담화 형식의 멘토링 프로그램이던 징검다리 멘토링을 발전시킨 프로그램입니다.<br><br>
                        고등학생 친구들과의 더욱 밀접한 커뮤니케이션을 위해서 공우 회원들이 고등학교를 직접 방문하여 20-30여명의 고등학생들에게 우리의 이야기를 들려주기도 하고, 서로 편안하게 대화를 나누며 학생들이 평소 궁금했던 것들이나 요새 생겨난 고민들 등에 대해 허심탄회하게 이야기를 나누는 프로그램입니다. 진학, 진로, 학업 뿐 아니라 연애, 학교생활, 취미활동까지 다양한 주제에 대해 쌍방향적 대화를 나누는 것을 주요 목표로 합니다.<br><br>
                        2012년 11월 21일, 공항고등학교에서의 첫 번째 징검다리 멘토링을 시작으로 2016년 단대부고, 대명고, 양명고에서의 미니멘토링에 이르기까지 많은 학교들을 방문하여 멘토링을 진행한 바 있습니다. 앞으로 가까운 지역뿐만 아니라, 전국 다양한 지역의 고등학교를 방문하여 멘토링을 진행하고, 많은 고등학생들에게 꿈과 이야기를 나눌 수 있도록 노력할 계획입니다.
                    </p>
                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center" style="margin:20px 0;">기타 봉사활동</h4>
                    <p class="text-muted">
                        그동안 공우(STEM)는 멘토링 관련 프로그램을 비롯해 주로 지식봉사활동을 수행하였습니다. 하지만 지식 봉사뿐만 아니라 때로는 사회에 나가 필요한 곳에 손과 발이 되어 몸으로 하는 봉사활동을 함으로써 사회에 직접적인 도움을 주는 것도 유의미하고 중요하다고 생각하여 2015년 뚝섬자원봉사를 시작으로 2016년 세대공감(백로경로당) 봉사활동 등을 실시했습니다.<br><br>
                        더 나아가 멀리 떨어져있는 곳이 아니라 우리가 생활하는 우리의 학교에서 할 수 있는 봉사활동을 기획해보자는 의도의 일환으로 버들골 미화 활동을 공우 회원들이 다 같이 하였습니다. 공우는 이러한 사회의 손과 발이 되어 펼치는 봉사활동들이 단기적으로 지나는 것이 아닌 공우의 핵심 가치인 사회에 기여하는 활동이 되도록 노력하고 있습니다.
                    </p>
                </div><br>
    </div>
</section>
{% endblock %}