{% extends "mobile/base.html" %}
{% block section %}
<section>
    <div class="container">
                <div class="col-md-12 text-center">
                    <h5 id="subtitle">:: Activities ::</h5>
                    {% include "mobile/subnavi.html" %}
                    <h2 class="section-heading" style="margin:0 0 10px 0;"><b>Public Relation</b></h2>
                </div>

                <div class="col-md-12 text-center">
                    <p class="text-muted text-center">
                        폭넓은 교류를 통해, 공우(STEM) 회원들은 사회와 소통하는 리더로 성장하고자 합니다. 다양한 나라와 대학, 기관 그리고 각양각색의 직업을 가진 사람들과 교류하며 세상을 보는 시야를 넓히고 있습니다.
                    </p>
                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center" style="margin:20px 0;">Northeast Asia SRT<br>(Student Round Table)</h4>
                    <p class="text-muted">
                        SRT는 2008년부터 시작된 국제 교류 프로그램으로, 동북아시아의 한국, 일본, 중국, 대만, 러시아, 몽골 총 6개 국가의 대학생들이 매년 여름 주최국에 모여 경제, 교육, 환경, 외교 등 다양한 사회적 이슈에 관하여 토론을 하고, 친목 도모 및 문화 교류를 통해 Mutual Understanding에 도달하는 것을 목표로 하는 프로그램입니다.<br><br>
                        공우 회원들은 국제적인 안목을 넓히고 사회가 요구하는 문제에 대하여 해결책을 제시하는 능력과 다양한 분야의 폭 넓은 지식과 입체적인 시각을 키우기 위하여 2012년부터 본 행사에 참여하고 있습니다. 이러한 활동을 통해 지역사회에 공헌하는 미래의 글로벌 리더로서의 자질을 배양하고자 합니다.
                    </p>
                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center" style="margin:20px 0;">GLEAP과의 교류</h4>
                    <p class="text-muted">
                        공우는 2014년도부터 서울대학교 자연과학대학의 Honor Society인 GLEAP과 매 분기 교류를 지속하고 있습니다. 서로 다른 분야이지만 유사한 지향점과 목표를 가지고 있는 두 학문인 공학, 자연과학의 지식을 교류하며 서로의 분야에 대한 이해를 키우고, 각자의 활동과 비전에 대해 나누는 시간을 가져왔습니다. 이런 교류를 통해 공우는 공과대학의 Honor Society로서 정체성을 확립하며 활동 범위를 넓히고 있습니다.
                    </p>
                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center" style="margin:20px 0;">공과대학 의전 활동 지원</h4>
                    <p class="text-muted">
                        공우는 서울대학교 공과대학 소속의 학생 단체로서 매 분기마다 꾸준히 의전 활동을 지원해오고 있습니다. 서울대학교 공과대학을 방문하는 외부 인사와 학생들에게 서울대학교 공과대학, 그리고 공우라는 단체에 대해 소개하고, 다양한 이야기를 나누는 기회를 가집니다.<br><br>지난 2016년에는 SMU(싱가폴 경영대학), 몽골과학기술대학(MUST) 학생과 칭화대 장학생, 홍콩 SSPC 수상자를 비롯하여 미 의회의원, 독일 교수님 방문 등의 의전 활동에 공우 회원들이 참여하였습니다.
                    </p>
                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center" style="margin:20px 0;">공대 꿀팁 캠페인</h4>
                    <p class="text-muted">
                        공과대학 학생으로서 학교 및 각종 단체에서 제공되는 혜택이 많음에도 불구하고 이에 대한 정보를 접하지 못해 혜택을 누리지 못하는 경우가 많습니다. 공우에서는 이를 해결하기 위해, 공과대학 1,2학년 학생들을 대상으로 장학금, 군대, 수업, 해외 프로그램에 관련된 유용한 정보를 모아서 소개를 해주는 동시에, 공우를 홍보할 수 있는 캠페인을 진행한 바 있습니다.
                    </p>
                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center" style="margin:20px 0;">선배와의 만남</h4>
                    <p class="text-muted">
                        공우에 새로 선발된 기수와 졸업한 선배들과 만나 친근하게 각자의 경험과 궁금한 점들에 대해 공유하는 시간을 가지면서, 공우의 선후배간의 결속력을 다집니다. 대학을 졸업하고 자신의 길을 걷고 있는 선배들의 모습을 통하여 공우 회원들에게도 동기부여 할 수 있는 자리를 만듭니다.
                    </p>
                </div><br>
    </div>
</section>
{% endblock %}