{% extends "mobile/base.html" %}
{% block section %}
<section>
    <div class="container">
                <div class="col-md-12 text-center">
                    <h5 id="subtitle">:: Board ::</h5>
                    {% include "mobile/subnavi.html" %}
                    <h2 class="section-heading" style="margin:0;"><b>{{board.name}}</b></h2>                    
                </div><hr>

                <div class="col-md-12 col-sm-12">
                        {% if mode == "write" %}
                            {% include "mobile/board/bbs_Write.html" %}
                        {% elif mode == "view" %}
                            {% include "mobile/board/bbs_View.html" %}
                        {% elif mode == "modify" %}
                            {% include "mobile/board/bbs_Modify.html" %}
                        {% elif mode == "reply" %}
                            {% include "mobile/board/bbs_Reply.html" %}
                        {% elif mode == "pwdinput" %}
                            {% include "mobile/board/bbs_pwdinput.html" %}
                        {% else %}
                            {% include "mobile/board/bbs_List.html" %}
                        {% endif %}
                </div>
    </div>
</section>
{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<script type='text/javascript'>
;(function($){
$(".date").each(function() {
    var timestamp = moment.utc($(this).attr('data-timestamp')*1000);
    $(this).text(timestamp.local().format($(this).attr('data-time-format')));
});
})(jQuery);
</script>

{% endblock %}

