{% extends "memberapp/base.html" %}
{% block content %}
<section class="content-header">
    <h1>
        Member Management System <small>출결 및 이수 관리</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/stem"><i class="fa fa-address-card"></i> Home</a></li>
        <li class="active">STEM Member Management System</li>
    </ol>
</section>

<section class="content">
<div class="row">
      <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Under Construction...</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
            <p>Complete Soon!!</p>
            </div>
            </div>
            </div>
</div>
</section>
{% endblock %}
