<!--#include virtual = common/dbcon.asp-->
{#
<%
bansort=checkParameter("int",Request("bansort"))
Search=checkParameter("char",Request("Search"))
SearchStr=checkParameter("char",Request("SearchStr"))
IF bansort="" Then bansort=1

Page=GetPage()
PageSize=5

Sql="select top "&PageSize&" idx,title,filenames,bansort,note1,note2,content1,content2,email from resultadmin WHERE bansort=? AND idx NOT IN (select top "&(Page-1)*PageSize&" idx from resultadmin Where bansort=? order by listnum ASC, Idx DESC) order by listnum ASC, Idx DESC; select count(idx) from resultadmin Where bansort=?"
Set objCmd = Server.CreateObject("ADODB.Command")
With objCmd
    .ActiveConnection = DBcon
    .CommandType = adCmdText
    .CommandText = Sql
    
    .Parameters.Append .CreateParameter("@Par", adBigint, adParamInput, 8, bansort)
    .Parameters.Append .CreateParameter("@Par", adBigint, adParamInput, 8, bansort)
    .Parameters.Append .CreateParameter("@Par", adBigint, adParamInput, 8, bansort)
End With
Set Rs = objCmd.Execute()
Set objCmd = Nothing

IF Not(Rs.Bof Or Rs.Eof) Then
    Allrec=Rs.GetRows
    Record_Cnt=Rs.NextRecordSet
    TotalPage=Int((CInt(Record_Cnt(0))-1)/CInt(PageSize)) +1
    Count=Record_Cnt(0)
Else
    Count=0
End IF

Sql="SELECT bansort FROM resultadmin Group By bansort Order by bansort ASC"
Set Rs=DBcon.Execute(Sql)
IF Not(Rs.Bof Or Rs.Eof) Then YearRec=Rs.GetRows()
Rs.Close

Set Rs=Nothing
DBcon.Close
Set DBcon=Nothing

%>
#}

{% macro PT_SelectBox(YearRec) -%}
    {% for item in YearRec %}
        <option value="{{ item.year }}">{{ item.year }}기</option>
    {% endfor %}
{%- endmacro %}

{% macro PT_ItemList(AllRec) -%}
    {% for item in AllRec %}
        {% set imgTag = '<img src="../static/images/noPic.gif" border="0" width="230" height="280" align="center">' %}
        {% set mailIcon = '' %}

        {% if item.image and item.image != "" %}
            {% set imgTag = '<img src="../static/upload/result/{{ item.image }}" border="0" width="230" height="280" align="center">' %}
        {% endif %}

        {% if item.email and item.email != "" %}
            {% set mailIcon = '<a href="mailto:{{ item.email }}"><img src="../static/images/ico_mail.gif" style="margin-top:-6px" /></a>}' %}
        {% endif %}
        <li>
            <div class="thum">{{ imgTag }}</div>
            <dl>
                <dt>{{ item.name }} ({{ item.major }}, {{ item.year }}기) {{ mailIcon }}</dt>
                <dd><span>Department</span><em style="word-wrap:break-word; line-height:1.4">{{ item.department }}</em></dd>
                <dd><span>Awards & Career</span><em style="word-wrap:break-word; line-height:1.4">{{ item.awards }}</em></dd>
                <dd><span>Comments</span><em style="word-wrap:break-word; line-height:1.4">{{ item.comments }}</em></dd>
            </dl>
        </li>
    {% endfor %}
{%- endmacro %}


{% extends "base.html" %}
{% block container %}
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul>
                    <li class="stit"><img src="../static/images/stit{{mNum}}_{{sNum}}.gif" alt="" /></li>
                    <li class="con_img">
                        <div class="board_search">
                            <select name="bansort" class="" onchange="location.href='?bansort='+this.value">
                            <option selected> - 기수선택 - </option>
                            {{ PT_SelectBox(YearRec) }}
                            </select>
                        </div>
                        <ul class="people">
                        {{ PT_ItemList(AllRec) }}
                        </ul>
                        <center><div><%=PT_SpPageLink("","bansort="&bansort,"")%></div></center>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}