<script type="text/javascript" src="{{ url_for('static', filename='library/boardControl.js') }}"></script>

{#
    TopSortListTag            : 
    BBsSelectField            : category selection

    BoardSort table
    0   idx
    1   pdsYN       : 
    2   memYN       : member only(?)
    3   repYN       : reply
    4   comYN       : comment 
    5   notYN       : notice (?)
    6   pubYN       : public/secret
    7   imgYN       : album (?)
    8   ViewMode    :
    9   ComMode
    10  langSort
    11  imgViewYN   : image view addon
    12  vodUrlYN    : vod?
    13  listNum
    14  downMode

    Session['Membership']    :
    SelCheck(v1,v2)            : 
#}

{% set admin_users=['wwee3631', 'stem_admin'] %}

<div class="board_search">
    <form name="searchform" method='post' action="{{ url_for('showBoard', sub = mNum|string + '-' + sNum|string , page = 1) }}" style='margin:0' onsubmit='searchGo()'>
        <select name="search" class="input">
        {% with select = searchform.search.data %}
            <option value="title" {% if select=="title" %} selected="selected"{% endif %}>제목</option>
            <option value="writer" {% if select=='writer' %} selected="selected"{% endif %}>글쓴이</option>
            <option value="content" {% if select=='content' %} selected="selected"{% endif %}>글내용</option>
        {% endwith %}
        </select>
        <input name="searchstr" type="text" style="width:150px;" class="input" value="{{ searchform.searchstr.data if searchform.searchstr.data is not none }}">
        <input type='button' value='검색' class='button1' onclick="searchGo()" style='cursor:pointer'>
        {% if current_user.is_authenticated() %}
        	{% if sNum == 1 %}
        	{% if current_user.username in admin_users %}
            <input type='button' value='쓰기' class='button1' onclick="location.href='/post/write?board={{ sNum }}'" style='cursor:pointer'>
        	{% endif %}
        	{% else %}
            <input type='button' value='쓰기' class='button1' onclick="location.href='/post/write?board={{ sNum }}'" style='cursor:pointer'>
        	{% endif %}
        {% endif %}
    </form>
</div>
<table cellspacing="0" border="0" summary="게시판의 글제목 리스트" class="tbl_type" style='table-layout:fixed; word-wrap:break-word;'>
    <colgroup>
        <col width="70">
        <col>
        <col width="115">
        <col width="80">
        <col width="55">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">글쓴이</th>
            <th scope="col">날짜</th>
            <th scope="col">조회수</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            {#
            {% if post.level > 1 %}
                {% set levelView = "padding-left:%dpx;" % (post.level * 10) %}
            {% endif %}
            #}
            <tr {{ trBg }}>
                <td class="num" style="text-align:center">{{ post.id }}</td>
                <td class="title" style="text-align:left;padding:5px 0 5px 0;{{levelView}}">
                    <div>
                        {#
                        {% if post.isSecret %}<img src="{{ url_for('static', filename='common/memberimg/public.gif') }}" />&nbsp;{% endif %}
                        {% if post.level > 1 %}<img src="{{ url_for('static', filename='images/ico_reply.gif') }}" />&nbsp;{% endif %}
                        #}
                    <a href="/post/{{ post.id }}/view">{{ post.title}}
                    {% if post.files %}
                    <i class="fa fa-paperclip"></i>
                    {% endif %}
                    {% if post.commentCount > 0 %}
                    <span class="comment-count">[{{post.commentCount}}]</span>
                    {% endif %}
                    </a>&nbsp;
            	        {% if post.level == 2 %}<img src="{{url_for('static', filename='images/ico_lock.gif')}}"  border='0' alt='LOCKED'/>{% endif %}
                        {% if post.new %}<img src="{{ url_for('static', filename='images/ico_new.gif') }}" border='0' alt='NEW'/>{% endif %}
                    </div>
                </td>
                {% if post.author %}
                <td class="name" style="text-align:center">{{ post.author.nickname }}</td>
                <td class="date" style="text-align:center" data-timestamp='{{ post.timestamp.timestamp() }}' data-time-format='YY-MM-DD'></td>
                <td class="hit" style="text-align:center">{{ post.hitCount }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "board/bbs_paging.html" %}

{% if searchform.searchstr.data %}
<p style="text-align:center;"><a href="/sub/5-{{ sNum }}" style="line-height:3rem; font-size:1rem; font-weight:bold;"> ◀ 검색 마치기</a></p>
{% endif %}

<form name='boardActfrm' id='boardActfrm' method='get' action='' style='margin:0;'>
    <input type='hidden' name='mode'>
    <input type='hidden' name='sort'>
    <input type='hidden' name='idx'>
    <input type='hidden' name='Page' value='<%=Page%>'>
    <input type='hidden' name='BBSCode' value='<%=BBSCode%>'>
    <input type='hidden' name='serboardsort' value='<%=serboardsort%>'>
    <input type='hidden' name='Search' value='<%=Search%>'>
    <input type='hidden' name='SearchStr' value='<%=SearchStr%>'>
    <input type='hidden' name='storeidx' value='<%=storeidx%>'>
</form>

