<script language="javascript" id="resultProc"></script>
<table cellspacing="0" border="0" summary="글 내용을 표시" class="tbl_view" style="table-layout:fixed;">
<colgroup>
<col width="80">
<col>
<col width="80">
<col width="200">
<col width="80">
<col width="100">
</colgroup>
<thead>
    <tr>
        <th scope="row">제목</th>
        <td colspan="5">{{ post.title }}</td>
    </tr>
    <tr>
        <th scope="row">작성자</th>
        <td>{{ post.author.nickname }}</td>
        <th scope="row">작성일</th>
        <td class="num">{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <th scope="row">조회</th>
        <td class="num">{{ post.hitCount }}</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="6" style="padding:10px;">
            {% if post.files %}
            <div class=attachedFile><dl><dt>
                <img src="/common/memberimg/iconFiles.gif" alt="첨부" /> 
                <button type="button" class="fileToggle" onclick="changeFileArea()" style="color: #3383AE;">첨부파일보기 ({{ post.files | length }})</button></dt>
                <dd>
                    <ul class="nostyle files" style="display:none;" id="fileArea" name="fileArea">
                        {% for file in post.files %}
                            <li class="nostyle"><a href="/static/upload/{{ file.link }}" download="{{file.name}}"><i class="fa fa-file"></i> {{ file.name }}</a></li>
                        {% endfor %}
                    </ul>
                </dd></dl>
            </div>
            {% endif %}

            <div><div id="HKeditorContent" name="HKeditorContent">{{ post.body | safe}}</div></div>
        </td>
    </tr>
    <tr class="comment-write">
        <th>
            Comment
        </th>
        <td colspan="4">
            <textarea rows="3" style="width:100%" id="comment-text"></textarea>
        </td>
        <td>
            <button onclick="submitComment()">Post</button>
        </td>
    </tr>
    <tr>
        <td colspan="6">
            <ul id="comments">
                {% for comment in post.comments %}
                <li data-comment-id="{{comment.id}}">
                    <h3>{{comment.author.nickname}}<small>{{comment.timestamp.strftime('%Y-%m-%d %H:%M')}}</small>
                        {% if comment.author == current_user %} <i onclick="deleteComment({{comment.id}})" class="fa fa-times command-elem"></i>{% endif %}
                    </h3>
                    <div class="comment-body">
                    {{comment.body | nl2br}}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</tbody>
</table>

</form>

<div style="float:left; padding: 10px 0;">
    <button class="button1" onclick="javascript:viewPost({{ post.prev }})">이전글</button>&nbsp;
    <button class="button1" onclick="javascript:viewPost({{ post.next }})">다음글</button>
</div>

<div style="float:right; padding: 10px 0;">
    {% if post.board.reply %}
        <button class="button2" onclick="javaScript:writeReply({{ post.id }})">답변</button>
    {% endif %}

    {% if (not current_user.is_authenticated() and post.board.isPublic) or (current_user.is_authenticated() and post.author.id == current_user.id) %}
        <button class="button2" onclick="location.href='modify'">수정</button>
        <button class="button2" onclick="deletePost({{ post.id }}, {{post.board.id}})">삭제</button>
    {% elif post.board.isPublic %}
        <button class="button2" onclick="javascript:modifyPostPwd({{ post.id }})">수정</button>
        <button class="button2" onclick="javascript:deletePostPwd({{ post.id }}, {{post.board.id}})">삭제</button>
    {% endif %}

    <button class="button2" onClick="location.href='/sub/5-{{post.board.id }}'" style="cursor:pointer">목록</button>
</div>

<div style="height:50px;"></div>

<script type="text/javascript">
function deletePost(id, bid) {
    var r = confirm("정말로 삭제하시겠습니까?");
    if (r) {
        jQuery.ajax({
            url: "/post/" + id + "/delete",
            type: "POST",
            success: function(data) {
                location.href="/sub/5-" + bid;
            }
        });
    }
}

function deleteComment(commentID) {
    (function($) {
        var r = confirm("정말로 삭제하시겠습니까?");
        if(!r) return;
        $.ajax({
            url: "/post/comment/" + commentID,
            type: "DELETE",
            success: function() {
                $("li[data-comment-id="+commentID+"]").remove();
            }
        });
    })(jQuery);
}

function submitComment() {
    (function ($) {
        if($("#comment-text").val() === "") return;
        $.ajax({
            url: "/post/comment",
            type: "POST",
            data: {
                body: $("#comment-text").val(),
                postID: {{post.id}},
                userID: {{current_user.id}}
            },
            success: function(data) {
                data.body.replace("\n","<br>");
                var time = moment(data.timestamp).utcOffset(0);
                var text = "<li data-comment-id=" + data.id + "><h3>" +
                    data.author.nickname + "<small>" + time.format('YYYY-MM-DD HH:mm') +
                    "</small> <i onclick='deleteComment(" + data.id + ")'" +
                    "class='fa fa-times command-elem'></i></h3>" +
                    "<div class='comment-body'>" + data.body + "</div></li>";

                    $("#comments").append(text);
                    $("comment-text").val("");
            }
        });
        $("#comment-text").val("");
    })(jQuery);
}
</script>