.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {white-space: normal;}

textarea {resize:none;}

.editor {
    background-color: #ccc;
    min-height: 100px;
}

.add-task {
    text-align: right;
}
.add-task i {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    background: #dd4b39;
    border-radius: 50%;
    text-align: center;
    z-index: 5;
    margin: 5px;
}

.command-elem {cursor: pointer;color: #777;}

select.command-elem {color: #fff;}

.member-badge, .task-badge, .tag-badge {margin-right: 2px;}

#tags {margin-top: 10px;}

.select-wrapper {

}

.select-wrapper select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    height: 20.25px;
    border: 0;
}

#dtpicker {width:0;height:0;overflow:hidden;}

.board a{color:#444;}
.board a:hover{color:#ccc;}
.dataTable a{color:#444;}
.dataTable a:hover{color:#ccc;}
.dataTable .sorting_disabled{padding:8px;}