.editor {
    background-color: #ccc;
    min-height: 100px;
}

.add-task {
    text-align: right;
}
.add-task i {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    background: #dd4b39;
    border-radius: 50%;
    text-align: center;
    z-index: 5;
    margin: 5px;
}

.command-elem {
   cursor: pointer;
   color: #777;
}

.contributor-badge, .issue-badge {
    margin-right: 2px;
}

.select-wrapper {

}

.select-wrapper select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    height: 20.25px;
    border: 0;
}

#dtpicker {
    width:0;
    height:0;
    overflow:hidden;
}