<div class="text-center" style="text-align:center;">
<div class="center-block pagenation" style="padding:10px 0; display:inline-block;">
    <a href="javascript:goFront()"><img src="{{ url_for('static', filename='images/btn_icon1.gif') }}" alt="맨앞으로"/></a>
    <a href="javascript:goForward({{page}})"><img src="{{ url_for('static', filename='images/btn_icon2.gif') }}" alt="이전"/></a>
    <span id="pages"></span>
    <a href="javascript:goBackward({{page}}, {{totalpage}})"><img src="{{ url_for('static', filename='images/btn_icon3.gif') }}" alt="다음"/></a>
    <a href="javascript:goBack({{totalpage}})"><img src="{{ url_for('static', filename='images/btn_icon4.gif') }}" alt="맨끝으로"/></a>
</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='library/boardControl.js') }}"></script>

<script type="text/javascript">
function loadPages($, page, totalpage) {
    var blockpage = parseInt((page - 1) / 10) * 10 + 1;
    $("#pages").append(" | ")
    for (var i = 0; i < 10 && blockpage <= totalpage; i++) {
        if (blockpage == page) {
            $("#pages").append(
                "<span style='font-weight:bold'>" + blockpage + "</span> | ");
        } else {
            $("#pages").append(
                "<a href='javascript:gotoPage(" + blockpage + ");'>" + blockpage + "</a> | ");
        }
        blockpage++;
    }
}

function gotoPage(page) {
    var form = document.searchform;
    form.method = "post";
    form.target = "_self";
    form.action = page;
    form.submit();
//    location.href = "/sub/5-{{ sNum }}/" + page;
}

function goFront() {
    var form = document.searchform;
    form.method = "post";
    form.target = "_self";
    form.action = 1;
    form.submit();
//    location.href = "/sub/5-{{ sNum }}";
}

function goForward(page) {
    var form = document.searchform;
    var forwardpage = page - 1;
    if (forwardpage < 1) {
        goFront();
    }
    else {
            form.method = "post";
            form.target = "_self";
            form.action = forwardpage;
            form.submit();
//    location.href = "/sub/5-{{ sNum }}/" + forwardpage;
    }
}

function goBackward(page, totalpage) {
    var form = document.searchform;
    var backwardpage = page + 1;
    if (backwardpage > totalpage) {
        goBack(totalpage);
    }
    else {
            form.method = "post";
            form.target = "_self";
            form.action = backwardpage;
            form.submit();
//    location.href = "/sub/5-{{ sNum }}/" + backwardpage;
    }
}

function goBack(totalpage) {
    var form = document.searchform;
    if (totalpage != 0) {
        form.method = "post";
        form.target = "_self";
        form.action = totalpage;
        form.submit();
//    location.href = "/sub/5-{{ sNum }}/" + totalpage;
    }
}

loadPages(jQuery, {{ page }}, {{ totalpage }});
</script>
