{% set admin_users=['wwee3631', 'stem_admin'] %}

<div class="board_search pull-right" style="margin:0 0 15px 0;">
    <form name="searchform" method='post' action="{{ url_for('showBoard', sub = mNum|string + '-' + sNum|string , page = 1) }}" style='margin:0' onsubmit='searchGo()'>
        <select name="search" class="form-inline" style="height:30px;">
        {% with select = searchform.search.data %}
            <option value="title" {% if select=="title" %} selected="selected"{% endif %}>제목</option>
            <option value="writer" {% if select=='writer' %} selected="selected"{% endif %}>글쓴이</option>
            <option value="content" {% if select=='content' %} selected="selected"{% endif %}>글내용</option>
        {% endwith %}
        </select>
        <input name="searchstr" type="text" style="width:80px; height:30px;" class="form-inline" value="{{ searchform.searchstr.data if searchform.searchstr.data is not none }}">
        <input type='button' value='검색' class='btn btn-default btn-sm' onclick="searchGo()" style='cursor:pointer; margin-bottom:3px;'>
        {% if current_user.is_authenticated() %}
        	{% if sNum == 1 %}
        	{% if current_user.username in admin_users %}
            <input type='button' value='쓰기' class='btn btn-default btn-sm' onclick="location.href='/post/write?board={{ sNum }}'" style='cursor:pointer; margin-bottom:3px;'>
        	{% endif %}
        	{% else %}
            <input type='button' value='쓰기' class='btn btn-default btn-sm' onclick="location.href='/post/write?board={{ sNum }}'" style='cursor:pointer; margin-bottom:3px;'>
        	{% endif %}
        {% endif %}
    </form>
</div><br><br>

        {% set i = 1 %}
        {% for post in posts %}
        {% if i == 1 %}
        {% set i = 0 %}
        {% else %}
        {% set i = 1 %}
        {% endif %}
            <div class="row listtype{{i}}">
                <div class="title col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:auto; padding:10px 10px 0 10px; margin-bottom:-15px; display:inline-block; text-align:left;">
                    <span class="badge" style="margin-bottom:5px; font-weight:normal;">{{ post.id }}</span>
                    <a class="boardlist" href="/post/{{ post.id }}/view">{{ post.title }}
                    {% if post.files %}
                    <i class="fa fa-paperclip"></i>
                    {% endif %}
                    {% if post.commentCount > 0 %}
                    <span class="comment-count">[{{post.commentCount}}]</span>
                    {% endif %}
                    {% if post.level == 2 %}
                    &nbsp;<img src="{{url_for('static', filename='images/ico_lock.gif')}}"  border='0' alt='LOCKED'/>
                    {% endif %}
                    </a>&nbsp;
            	        

                </div>

                {% if post.author %}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right" style="height:auto; margin-bottom:10px; text-align:right; display:inline-block; font-size:12px; padding-right:10px;"><div class="name badge" style="font-weight:normal; margin-bottom:5px;">{{ post.author.nickname }}</div>
                <div class="date pull-right label label-default" style="text-align:right; display:inline-block; font-size:12px; font-weight:normal; margin:0 0 5px 10px;" data-timestamp='{{ post.timestamp.timestamp() }}' data-time-format='YY-MM-DD'></div></div>
                {% endif %}
            </div>
        {% endfor %}

{% include "mobile/board/bbs_paging.html" %}

{% if searchform.searchstr.data %}
<p style="text-align:center;"><a href="/sub/5-{{ sNum }}" style="line-height:3rem; font-weight:bold;"> ◀ 검색 마치기</a></p>
{% endif %}

<form name='boardActfrm' id='boardActfrm' method='get' action='' style='margin:0;'>
    <input type='hidden' name='mode'>
    <input type='hidden' name='sort'>
    <input type='hidden' name='idx'>
    <input type='hidden' name='Page' value='<%=Page%>'>
    <input type='hidden' name='BBSCode' value='<%=BBSCode%>'>
    <input type='hidden' name='serboardsort' value='<%=serboardsort%>'>
    <input type='hidden' name='Search' value='<%=Search%>'>
    <input type='hidden' name='SearchStr' value='<%=SearchStr%>'>
    <input type='hidden' name='storeidx' value='<%=storeidx%>'>
</form>

<style>

.listtype0 {background-color:rgb(242,242,242);}

</style>