{% include "common/dbcon.html" %}
{#
<%
Dim Rs,Sql,Allrec
Dim Record_Cnt,TotalPage,PageSize,Page,Count
Dim Search,SearchStr,StrWhere,BBsSelectField
Dim BBsCode,strLocation,i
Dim BoardSort,BBsSort
Dim Idx,Filename(1),FilDownTag(1),souchk,AlertMsg
Dim title,writer,regdate,content,Ref,ReLevel,Pwd,TopYn,TopTag,ReadNum,PublicYN,inputPwd,UserIdx
Dim serboardsort
Dim PreTag,NextTag
Dim AdWrite,imgnames

bbscode=1
mode=Request("mode")
prePage="../static/sub/sub5_1.asp"
recordTitleCutNum=40

IF mode="write" Then
%>{% include "board/proc_boardwrite.html" %}<%
elif mode="view" Then
%>{% include "board/proc_boardview.html" %}<%
elif mode="modify" Then
%>{% include "board/proc_boardmodify.html" %}<%
elif mode="reply" Then
%>{% include "board/proc_boardreply.html" %}<%
elif mode="pwdinput" Then
%>{% include "board/proc_pwdinput.html" %}<%
Else
%>{% include "board/proc_boardlist.html" %}<%
End IF

Set Rs=Nothing
DBcon.Close
Set DBcon=Nothing
%>
#}
{% extends "base.html" %}
{% block container %}
<div id="boardPwdINPUTDiv" name="boardPwdINPUTDiv" style="position:absolute; visibility:hidden;"></div>
<div id="boardcommentPwdINPUTDiv" name="boardcommentPwdINPUTDiv" style="position:absolute; visibility:hidden;"></div>
	<!--container-->
	<div id="container">
		<div class="contain">
			<div class="s_contents">
				{% include "right_login.html" %}
				{% include "left.html" %}
			</div>
			<div class="con">
				<ul>
					<li class="stit"><img src="../static/images/stit{{mNum}}_{{sNum}}.gif" alt="" /></li>
					<li class="con_img">

						{% if mode == "write" %}
							{% include "board/bbs_Write.html" %}
						{% elif mode == "view" %}
							{% include "board/bbs_View.html" %}
						{% elif mode == "modify" %}
							{% include "board/bbs_Modify.html" %}
						{% elif mode == "reply" %}
							{% include "board/bbs_Reply.html" %}
						{% elif mode == "pwdinput" %}
							{% include "board/bbs_pwdinput.html" %}
						{% else %}
							{% include "board/bbs_list.html" %}
						{% endif %}

					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--//container-->
{% endblock %}