{% extends "base.html" %}
{% block top %}
<div id="wrap">
	<!--top-->
	<div id="header">
		<div class="topmenu">
			<ul>
				<li><a href="javascript:go_menu('main')">메인으로</a></li>
				<li><a href="javascript:go_menu('sub5_2')">문의하기</a></li>
				<li><a href="javascript:go_menu('favorite')">즐겨찾기 추가</a></li>
			</ul>
		</div>
		<h1 class="logo"><a href="javascript:go_menu('main')"><img src="/images/logo.gif" alt="우수학생센터 공우" /></a></h1>
		<!-- gnb -->
		<div class="headMenu">
			<ul id="gnb">
				<li id="item1"><a href="javascript:go_menu('sub1_1')" onmouseover="onTopNavi(1, 6);" onfocus="onTopNavi(1, 6);"><img src="/images/gnb1_off.gif" alt="" /></a>
					<dl class="m1">
						<dd id="item11"><a href="javascript:go_menu('sub1_1')" ><img src="/images/gnb1_1.gif" alt="" /></a></dd>
						<dd id="item12"><a href="javascript:go_menu('sub1_2')" ><img src="/images/gnb1_2.gif" alt="" /></a></dd>
						<dd id="item13"><a href="javascript:go_menu('sub1_3')" ><img src="/images/gnb1_3.gif" alt="" /></a></dd>
						<dd id="item14"><a href="javascript:go_menu('sub1_4')" ><img src="/images/gnb1_4.gif" alt="" /></a></dd>
						<dd id="item15"><a href="javascript:go_menu('sub1_5')" ><img src="/images/gnb1_5.gif" alt="" /></a></dd>
					</dl>
				</li>
				<li id="item2" ><a href="javascript:go_menu('sub2_1')" onmouseover="onTopNavi(2, 6);" onfocus="onTopNavi(2, 6);" target="_self" ><img src="/images/gnb2_off.gif" alt="" /></a>
					<dl class="m2">
						<dd id="item21"><a href="javascript:go_menu('sub2_1')" ><img src="/images/gnb2_1.gif" alt="" /></a></dd>
						<dd id="item22"><a href="javascript:go_menu('sub2_2')" ><img src="/images/gnb2_2.gif" alt="" /></a></dd>
						<dd id="item23"><a href="javascript:go_menu('sub2_3')" ><img src="/images/gnb2_3.gif" alt="" /></a></dd>
						<dd id="item24"><a href="javascript:go_menu('sub2_4')" ><img src="/images/gnb2_4.gif" alt="" /></a></dd>
						<dd id="item25"><a href="javascript:go_menu('sub2_5')" ><img src="/images/gnb2_5.gif" alt="" /></a></dd>
					</dl>
				</li>
				<li id="item3" ><a href="javascript:go_menu('sub3_1')" onmouseover="onTopNavi(3, 6);" onfocus="onTopNavi(3, 6);" target="_self" ><img src="/images/gnb3_off.gif" alt="" /></a></li>
				<li id="item4" ><a href="javascript:go_menu('sub4_1')" onmouseover="onTopNavi(4, 6);" onfocus="onTopNavi(4, 6);" target="_self" ><img src="/images/gnb4_off.gif" alt="" /></a>
					<dl class="m4">
						<dd id="item41"><a href="javascript:go_menu('sub4_1')" ><img src="/images/gnb4_1.gif" alt="" /></a></dd>
						<dd id="item42"><a href="javascript:go_menu('sub4_2')" ><img src="/images/gnb4_2.gif" alt="" /></a></dd>
						<dd id="item42"><a href="javascript:go_menu('sub4_3')" ><img src="/images/gnb4_3.gif" alt="" /></a></dd>
					</dl>
				</li>
				<li id="item5" ><a href="javascript:go_menu('sub5_1')" onmouseover="onTopNavi(5, 6);" onfocus="onTopNavi(5, 6);" target="_self" ><img src="/images/gnb5_off.gif" alt="" /></a>
					<dl class="m5">
						<dd id="item51"><a href="javascript:go_menu('sub5_1')" ><img src="/images/gnb5_1.gif" alt="" /></a></dd>
						<dd id="item52"><a href="javascript:go_menu('sub5_2')" ><img src="/images/gnb5_2.gif" alt="" /></a></dd>
					</dl>
				</li>
			</ul>
		</div>
		<!-- //gnb -->
	</div>
	<script type="text/javascript">
	function updateItem(mNum, sNum) {
		var itemID = "#item" + mNum;
		jQuery(itemID).addClass("on");
		itemID = itemID + sNum;
		jQuery(itemID).addClass("on2");
	});
	</script>
	<!--//top-->
</div>
{% endblock %}