{% extends "base.html" %}
{% block top %}
<div id="wrap">
	<!--top-->
	<div id="header">
		<div class="topmenu">
			<ul>
				<li><a href="javascript:go_menu('main')">메인으로</a></li>
				<li><a href="javascript:go_menu('sub5_2')">문의하기</a></li>
				<li><a href="javascript:go_menu('favorite')">즐겨찾기 추가</a></li>
			</ul>
		</div>
		<h1 class="logo"><a href="javascript:go_menu('main')"><img src="/images/logo.gif" alt="우수학생센터 공우" /></a></h1>
		<!-- gnb -->
		<div class="headMenu">
			<ul id="gnb">
				<li id="item1" class="<% If mNum=1 Then %>on<% End If %>"><a href="javascript:go_menu('sub1_1')" onmouseover="onTopNavi(1, 6);" onfocus="onTopNavi(1, 6);"><img src="/images/gnb1_off.gif" alt="" /></a>
					<dl class="m1">
						<dd id="item11"><a href="javascript:go_menu('sub1_1')" class="<% If mNum=1 AND sNum=1 Then %>on2<% End If %>"><img src="/images/gnb1_1.gif" alt="" /></a></dd>
						<dd id="item12"><a href="javascript:go_menu('sub1_2')" class="<% If mNum=1 AND sNum=2 Then %>on2<% End If %>"><img src="/images/gnb1_2.gif" alt="" /></a></dd>
						<dd id="item13"><a href="javascript:go_menu('sub1_3')" class="<% If mNum=1 AND sNum=3 Then %>on2<% End If %>"><img src="/images/gnb1_3.gif" alt="" /></a></dd>
						<dd id="item14"><a href="javascript:go_menu('sub1_4')" class="<% If mNum=1 AND sNum=4 Then %>on2<% End If %>"><img src="/images/gnb1_4.gif" alt="" /></a></dd>
						<dd id="item15"><a href="javascript:go_menu('sub1_5')" class="<% If mNum=1 AND sNum=5 Then %>on2<% End If %>"><img src="/images/gnb1_5.gif" alt="" /></a></dd>
					</dl>
				</li>
				<li id="item2" class="<% If mNum=2 Then %>on<% End If %>"><a href="javascript:go_menu('sub2_1')" onmouseover="onTopNavi(2, 6);" onfocus="onTopNavi(2, 6);" target="_self" ><img src="/images/gnb2_off.gif" alt="" /></a>
					<dl class="m2">
						<dd id="item21"><a href="javascript:go_menu('sub2_1')" class="<% If mNum=1 AND sNum=1 Then %>on2<% End If %>"><img src="/images/gnb2_1.gif" alt="" /></a></dd>
						<dd id="item22"><a href="javascript:go_menu('sub2_2')" class="<% If mNum=1 AND sNum=2 Then %>on2<% End If %>"><img src="/images/gnb2_2.gif" alt="" /></a></dd>
						<dd id="item23"><a href="javascript:go_menu('sub2_3')" class="<% If mNum=1 AND sNum=3 Then %>on2<% End If %>"><img src="/images/gnb2_3.gif" alt="" /></a></dd>
						<dd id="item24"><a href="javascript:go_menu('sub2_4')" class="<% If mNum=1 AND sNum=4 Then %>on2<% End If %>"><img src="/images/gnb2_4.gif" alt="" /></a></dd>
						<dd id="item25"><a href="javascript:go_menu('sub2_5')" class="<% If mNum=1 AND sNum=5 Then %>on2<% End If %>"><img src="/images/gnb2_5.gif" alt="" /></a></dd>
					</dl>
				</li>
				<li id="item3" class="<% If mNum=3 Then %>on<% End If %>"><a href="javascript:go_menu('sub3_1')" onmouseover="onTopNavi(3, 6);" onfocus="onTopNavi(3, 6);" target="_self" ><img src="/images/gnb3_off.gif" alt="" /></a></li>
				<li id="item4" class="<% If mNum=4 Then %>on<% End If %>"><a href="javascript:go_menu('sub4_1')" onmouseover="onTopNavi(4, 6);" onfocus="onTopNavi(4, 6);" target="_self" ><img src="/images/gnb4_off.gif" alt="" /></a>
					<dl class="m4">
						<dd id="item41"><a href="javascript:go_menu('sub4_1')" class="<% If mNum=4 AND sNum=1 Then %>on2<% End If %>"><img src="/images/gnb4_1.gif" alt="" /></a></dd>
						<dd id="item42"><a href="javascript:go_menu('sub4_2')" class="<% If mNum=4 AND sNum=2 Then %>on2<% End If %>"><img src="/images/gnb4_2.gif" alt="" /></a></dd>
						<dd id="item42"><a href="javascript:go_menu('sub4_3')" class="<% If mNum=4 AND sNum=3 Then %>on2<% End If %>"><img src="/images/gnb4_3.gif" alt="" /></a></dd>
					</dl>
				</li>
				<li id="item5" class="<% If mNum=5 Then %>on<% End If %>"><a href="javascript:go_menu('sub5_1')" onmouseover="onTopNavi(5, 6);" onfocus="onTopNavi(5, 6);" target="_self" ><img src="/images/gnb5_off.gif" alt="" /></a>
					<dl class="m5">
						<dd id="item51"><a href="javascript:go_menu('sub5_1')" class="<% If mNum=5 AND sNum=1 Then %>on2<% End If %>"><img src="/images/gnb5_1.gif" alt="" /></a></dd>
						<dd id="item52"><a href="javascript:go_menu('sub5_2')" class="<% If mNum=5 AND sNum=2 Then %>on2<% End If %>"><img src="/images/gnb5_2.gif" alt="" /></a></dd>
					</dl>
				</li>
			</ul>
		</div>
		<!-- //gnb -->
	</div>
	<!--//top-->
{% endblock %}