{% if request.MOBILE == False %}

{% extends "base.html" %}
{% block container %}
<!--#include virtual = "{{ url_for('static', filename='inc/top.asp') }}"-->
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul class="nostyle">
                    <li class="nostyle stit"><div class="title-img"><span>403 Forbidden</span></div></li>
                </ul>
                <article style="text-align:center;font-weight:bold;font-size:2rem;height:400px;">
                    <span style="line-height:400px;">허가되지 않은 접근입니다.</span><br/>
                    <input type="button" value="돌아가기" class="button1" onclick="history.back();" style="cursor:pointer">
                </article>
                    
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}

{% else %}

{% extends "mobile/base.html" %}
{% block section %}
<section>
    <div class="container">
                <div class="col-md-12 text-center">
                    <h5 id="subtitle">:: Error ::</h5>
                    <h2 class="section-heading" style="margin:0;"><b>403</b></h2>                    
                </div><hr>

                <div class="col-md-12 col-sm-12 text-center">
                허가되지 않은 접근입니다.
                </div>
                <div class="text-center" style="margin:20px 0 20px 0;">
                <input type="button" value="돌아가기" class="btn btn-default" onclick="history.back();" style="cursor:pointer">
                </div>

    </div>
</section>
{% endblock %}

{% endif %}