{% extends "base.html" %}

{% block meta %}
<meta property="og:url" content="http://aws.stemsnu.com/apply" />
<meta property="og:image" content="http://aws.stemsnu.com/static/upload/9f68ecf4576a43e39ab3c8024e5119bf.png" />
<meta property="og:type" content="article" />
<meta property="og:title" content="공우(STEM) 7기 모집!" />
<meta property="og:description" content="접수는 3.16까지. 공우와 함께할 짱짱 공학도들의 많은 참여 바랍니다!" />
{% endblock %}

{% block container %}
<style>
#container, #container * {font-size: 14px;}
#container h1 {font-size: 180%;}
#container h2 {font-size: 140%;}
#container h3 {font-size: 120%;}
#container img {margin: 10px 0;}
#container ol, #container ul {padding-left: 20px;}
#container p {padding-left: 0px; margin:14px 0;}
#container a {color: #005E6C;}
#container a:hover {color: #78C5CE;}
#container {margin: 40px auto; width: 750px;}
@media (min-width: 980px) {
    #container p {padding-left: 10px;}
    #container ol, #container ul {padding-left: 30px;}
    .file strong {margin-left: -10px;}
}
@media (max-width: 750px) {
    #container {max-width: 95%;}
}

</style>
<div id="container">

<img alt="" src="http://aws.stemsnu.com/static/upload/9f68ecf4576a43e39ab3c8024e5119bf.png" style="width:100%"><br>
<h2>2016년도 공과대학 우수학생센터 공우(STEM) 신입회원 모집을 다음과 같이 공고합니다.</h2>

<p class="file">
    <strong class="stem-orange">지원서 양식 다운로드</strong><br>
    <i class="fa fa-download"></i> <a href="http://aws.stemsnu.com/static/upload/d944c0c85f604d9fa76f543af555a377.hwp" download="2016년도 공우(STEM) 참가 지원서.hwp"> 2016년도 공우(STEM) 참가 지원서.hwp</a><br>
    <i class="fa fa-download"></i> <a href="http://aws.stemsnu.com/static/upload/f851b3f637e04be3999b0338dab73bba.hwp" download="[붙임1] 인턴십 경력 확인서.hwp">[붙임1] 인턴십 경력 확인서.hwp</a>
</p>


<h3>공우는?</h3>
<p>&nbsp;&nbsp;서울대학교 공과대학 우수학생센터 <strong class="stem-orange">공우(STEM)</strong>는 국내 대학교 최초의 <a href="https://en.wikipedia.org/wiki/Honor_society">Honor Society</a>입니다. 공우(STEM)는 서울대학교 공과대학의 다양한 학과에서 선발된 우수한 학생들로 이루어져 있습니다. 우리는 <strong class="stem-orange">“공학적 소양을 바탕으로, 입체적 시각을 갖추고 사회와 소통하는 리더로 성장한다”</strong>라는 비전을 가지고 미래를 선도하는 글로벌 리더가 되기 위하여 학술, 봉사, 대외교류 분야에서 활동하고 있습니다.</p>
<p>&nbsp;&nbsp;공우(STEM)는 평생회원제로 운영되며, 3학기 2방학 이상 활동하는 회원에게 명예회원의 자격을 부여합니다. 공대 각 전공 학생들 간 지식을 교류하고, 아이디어를 구체화하며, 다양한 나라, 다양한 학교 사람들과도 만날 수 있는 곳. 공우입니다.</p>

<h3>모집 대상</h3>
<ul>
    <li>서울대학교 공과대학에 재학 중이며, 4학기 이상을 이수한 학생</li>
    <li>전공 분야에 있어 뛰어난 학업 역량을 보여주는 학생</li>
    <li>우수한 국어 및 외국어 능력을 갖추어 글로벌 리더의 자질이 있는 학생</li>
    <li>투철한 봉사 정신을 갖춘 학생</li>
    <li>본 1학기를 포함하여 향후 3학기, 2방학 이상 활동할 수 있는 학생</li>
</ul>

<h3>지원 자격</h3>
<p>전체 평점이 <strong>3.5 이상</strong>이며, 다음 조건 중 <strong>하나 이상</strong>을 만족하는 학생</p>
<ol>
    <li>전체 평점 3.7 이상</li>
    <li>전공 관련 인턴십이나 수상 경력, 혹은 학과 내 상위 10%에 상응하는 전공 실력</li>
    <li>TEPS 800점에 상응하는 공인 영어 점수, 혹은 우수한 영어 회화 능력</li>
    <li>봉사, 리더십 활동 등 기타 차별화된 경력이나 능력</li>
</ol>

<h3>선발 일정</h3>
<ul>
    <li>지원서 제출: 3.2 ~ 3.16</li>
    <li>지원서 심사: 3.17 ~ 3.20</li>
    <li>면접심사: 3.23 ~ 3.31 (면접일시는 서류심사 합격자에 한해 개별 통보함)</li>
    <li>최종 선발자 발표: 4.1(개별 통보)</li>
</ul>

<h3>입회 설명회</h3>
<ul>
    <li><strong>윗공대:</strong> 3.8.(화) 19:00 (301동 101호)</li>
    <li><strong>아랫공대:</strong> 3.9.(수) 19:00 (39동 238호)</il>
</ul>

<h3>서류 제출 방법</h3>
<p>제출 서류를 구비하여 방문 또는 이메일로 제출하도록 함</p>
<ul>
    <li><strong>방문 제출:</strong> 공과대학 39동 208호 (담당: 박소현)</li>
    <li><strong>E-mail 제출:</strong> <a href="mailto:qkrthgus0618@snu.ac.kr">qkrthgus0618@snu.ac.kr</a></li>
</ul>

<h3>제출서류</h3>
<ol>
    <li>지원서 (첨부된 양식사용-공과대학 홈페이지 및 각 학부/과 홈페이지에서 다운로드하여 제출)</li>
    <li>인턴십 경력 증명서 (해당자에 한함)</li>
    <li>성적 증명서</li>
    <li>외국어 능력 증명서</li>
</ol>

<p>&nbsp;&nbsp;공우라는 이름 아래서 함께 가슴 뛰는 일들을 해 나갈 뛰어난 공과대학 학생 여러분의 많은 관심과 지원 바라며, 문의사항은 <strong>회장 이승훈 (010-8618-7150)</strong> 또는 카카오톡<img alt="" src="http://ts.daumcdn.net/custom/blog/172/1729880/skin/images/yi.png" style="height:16px; width:16px"> <strong><a href="http://plus.kakao.com/home/@stemsnu">@stemsnu</a></strong> 와 이 홈페이지 <a href="http://aws.stemsnu.com/sub/5-2">Q&amp;A 게시판</a>을 활용해주시기 바랍니다!</p>
<br>
<a href="http://aws.stemsnu.com/static/upload/0aed049d719c4d9c96f93b9278676240.png"><img alt="" src="http://aws.stemsnu.com/static/upload/0aed049d719c4d9c96f93b9278676240.png" style="width:100%"></a><br>
<a href="http://aws.stemsnu.com/static/upload/4bef0bb1e9f34712964c60d9af95f8af.png"><img alt="" src="http://aws.stemsnu.com/static/upload/4bef0bb1e9f34712964c60d9af95f8af.png" style="width:100%"></a><br>

</div>
{% endblock %}