<!-- left -->
{% if mNum == 1 %}
<div class="left">
    <div class="category">
        <dl>
        <dt class="menu-title"><span>ABOUT US</span></dt>
        <dd class="menu-item"><a href="javascript:go_menu('sub1_1')" class="{% if sNum == 1 %}on{% endif %}">Greetings</a></dd>
        <dd class="menu-item"><a href="javascript:go_menu('sub1_2')" class="{% if sNum == 2 %}on{% endif %}">Vision</a></dd>
        <dd class="menu-item"><a href="javascript:go_menu('sub1_3')" class="{% if sNum == 3 %}on{% endif %}">Organization</a></dd>
        <dd class="menu-item"><a href="javascript:go_menu('sub1_4')" class="{% if sNum == 4 %}on{% endif %}">Map</a></dd>
        <dd class="menu-item"><a href="javascript:go_menu('sub1_5')" class="{% if sNum == 5 %}on{% endif %}">Contact</a></dd>
        </dl>
    </div>
</div>
{% elif mNum == 2 %}
<div class="left">
    <div class="category">
        <dl>
        <dt class="menu-title"><span>ACTIVITIES</span></dt>
        <dd class="menu-item"><a href="javascript:go_menu('sub2_1')" class="{% if sNum == 1 %}on{% endif %}">Academic activity</a></dd>
        <dd class="menu-item"><a href="javascript:go_menu('sub2_2')" class="{% if sNum == 2 %}on{% endif %}">Voluntary service</a></dd>
        <dd class="menu-item"><a href="javascript:go_menu('sub2_3')" class="{% if sNum == 3 %}on{% endif %}">Public relation</a></dd>
        <dd class="menu-item"><a href="javascript:go_menu('sub2_4')" class="{% if sNum == 4 %}on{% endif %}">Leadership</a></dd>
        <dd class="menu-item"><a href="javascript:go_menu('sub2_5')" class="{% if sNum == 5 %}on{% endif %}">History</a></dd>
        </dl>
    </div>
</div>
{% elif mNum == 3 %}
<div class="left">
    <div class="category">
        <dl>
        <dt class="menu-title"><span>PEOPLE</span></dt>
        <dd class="menu-item"><a href="javascript:go_menu('sub3_1')" class="{% if sNum == 1 %}on{% endif %}">People</a></dd>
        </dl>
    </div>
</div>
{% elif mNum == 4 %}
<div class="left">
    <div class="category">
        <dl>
        <dt class="menu-title"><span>JOIN US</span></dt>
        <dd class="menu-item"><a href="javascript:go_menu('sub4_1')" class="{% if sNum == 1 %}on{% endif %}">Recruiting</a></dd>
        <dd class="menu-item"><a href="javascript:go_menu('sub4_2')" class="{% if sNum == 2 %}on{% endif %}">Cooperation</a></dd>
        <dd class="menu-item"><a href="javascript:go_menu('sub4_3')" class="{% if sNum == 3 %}on{% endif %}">Donation</a></dd>
        <dd class="sub4_3"><a href="javascript:go_menu('sub4_3')"><strong>- 후원해주시는 분들</strong></a></dd>
        <dd class="sub4_3_2"><a href="javascript:go_menu('sub4_4')"><strong>- 후원방법</strong></a></dd>
        </dl>
    </div>
</div>
{% elif mNum == 5 %}
<div class="left">
    <div class="category">
        <dl>
        <dt class="menu-title"><span>BOARD</span></dt>
        <dd class="menu-item"><a href="javascript:go_menu('sub5_1')" class="{% if sNum == 1 %}on{% endif %}">Notice</a></dd>
        <dd class="menu-item"><a href="javascript:go_menu('sub5_2')" class="{% if sNum == 2 %}on{% endif %}">Q&amp;A</a></dd>
        <dd class="menu-item"><a href="javascript:go_menu('sub5_4')" class="{% if sNum == 4 %}on{% endif %}">자유게시판</a></dd>
        </dl>
    </div>
</div>
{#
{% elif mNum == 6 %}
<div class="left">
    <div class="category">
        <dl>
        <dt class="menu-title"><span>MY PAGE</span></dt>
        <% IF Session("useridx")="" Then %>
        <dd class="menu-item"><a href="javascript:go_menu('yak')" class="{% if sNum == 1 %}on{% endif %}">Join</a></dd>
        <% Else %>
        <dd class="menu-item"><a href="javascript:go_menu('modify')" class="{% if sNum == 3 %}on{% endif %}">Modify</a></dd>
        <dd class="menu-item"><a href="javascript:go_menu('out')" class="{% if sNum == 4 %}on{% endif %}">Deregister</a></dd>
        <% End IF %>
        </dl>
    </div>
</div>
#}
{% endif %}
<!-- //left -->