<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript" src="{{ url_for('static', filename='js/link.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/board.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/navi.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/editorContent.css') }}" rel=stylesheet type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='library/prototype.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='library/functions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='library/boardControl.js') }}"></script>
</head>
<body>
    <div class="m_login">
        {% if current_user.is_authenticated() %}
        <dl>
            <dt style='color: #ffffff;'>{{ current_user.nickname }}</b>님 환영합니다!</dt>
            <dd><input type="button" value="LOGOUT" class="m_login_btn" onclick="location.href='/logout'" /></dd>
        </dl>
        <p class="m_login_txt"></p>
        {% else %}
        <form name="login" method="post" action="{{ url_for('login') }}" onSubmit="mainLoginInputSendit(login);event.returnValue = false;" style='margin:0;'>
        <input name="next" type="hidden" value="{% if mNum >= 1 and mNum <= 5 %}/sub/{{mNum}}-{{sNum}}{% else %}/{% endif %}">
        <dl>
            <dt>
                {{ form.hidden_tag() }}
                <input name="userid" maxlength='15' type=text class="input1" style="width:135px; height:13px;" tabindex="1" onkeydown="mainLoginInputSendit(login);"><br/>
                <input name="password" maxlength='50' type="password" class="input1" style="width:135px; height:13px;" tabindex="2" onkeydown="mainLoginInputSendit(login);">
            </dt>
            <dd><input type="button" value="LOGIN" class="m_login_btn" onclick='mainLoginSend(login);' style='cursor:pointer;' /></dd>
        </dl>
        </form>
        <p class="m_login_txt"><a href="{{ url_for('register') }}">·회원가입</a><a href="javascript:go_menu('id_seek')">·아이디찾기</a><a href=javascript:go_menu('pw_seek')>·비밀번호찾기</a></p>
        {% endif %}
        <ul class="nostyle">
            <li class="nostyle">
            <a href="javascript:go_menu('modify')"><img src="{{ url_for('static', filename='images/m_mypage_long.gif') }}"/></a> <!--<a href="javascript:go_menu('favorite')"><img src="{{ url_for('static', filename='images/m_bookmark.gif') }}" /></a></li> !-->
        </ul>
    </div>

</body>
</html>