{% extends "base.html" %}

{% macro PT_BoardTopList(rec, actpage) -%}
    {% for article in rec %}
        <dd><a class="title" href="post/{{article.id}}/view">{{ article.title }}
        {% if article.commentCount %} <span class="comment-count">[{{article.commentCount}}]</span>{% endif %}
        {% if article.new %}<img src="{{url_for('static', filename='images/ico_new.gif')}}"  border='0' alt='NEW'/>{% endif %}
        </a><span class="date" data-time-format='MM.DD' data-timestamp='{{ article.timestamp.timestamp() }}'></span></dd>
    {% endfor %}
{%- endmacro %}                                

{% macro PT_MainThumbImage(rec, width, height, index) -%}
    {% for banner in rec %}
        {% if loop.first %}
            <div class="t_panel_{{ index }}_first">
        {% else %}
            <div class="t_panel_{{ index }}">
        {% endif %}
        <div class="t_panel_{{ index }}-wrapper">
        {% if banner.href %}
            <a href="{{ banner.href }}"></a><img src="{{ url_for('static', filename=('upload/mainbanner/' + banner.src)) }}" width="{{ width }}" height="{{ height }}" border="0" alt="{{banner.description}}"></a>
        {% else %}
            <img src="../static/upload/mainbanner/{{ banner.src }}" width="{{ width }}" height="{{ height }}" border="0" alt="{{banner.description}}">
        {% endif %}
        </div></div>
    {% endfor %}

{% endmacro %}
{% block container %}
    <!--container-->
    <div id="container">
        <div class="m_con">
            <div class="m_visual">
                <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cycle.all.min.js') }}"></script>
                <div class="slideshow1">
                    {{ PT_MainThumbImage(bannerRec,730,450,1) }}
                </div>

                <style>
                .slideshow1{height:450px; overflow:hidden; width:730px; }
                .t_panel_1{display:none; height:450px; overflow:hidden; width:730px;}
                .t_panel_1_first{display:block; height:450px; overflow:hidden; width:730px;}
                .t_panel_1-wrapper{height:450px; margin:0; overflow:hidden; padding:0; position:relative; width:730px;}
                #slider_links1{clear:both; position:absolute; left:20px; top:440px; z-index:999;}
                #slider_links1 a{width:8px; height:8px; float:left; background-color: #D0D0D0; display:block; color: #D0D0D0; display:block; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:1px; line-height:1em; list-style:none; text-align:center; margin-right:3px;}            
                #slider_links1 a:hover{color: #970000; background: #970000; text-decoration:none;}
                #slider_links1 a.activeSlide {color: #970000; background: #970000;}
                </style>

                <script type="text/javascript">
                <!--
                jQuery(function() {
                    jQuery('.slideshow1').before('<div id="slider_links1">').cycle({
                        fx: 'fade',
                        speed: 500,    //이미지바뀌는속도
                        timeout: 2500,
                        //timeout makes things pause
                        delay: 0, //처음시작시 딜레이시간
                        pager: '#slider_links1',
                        startingSlide: 0,
                        pause: 1,
                        pauseOnPagerHover:1
                    });
                });
                //-->
                </script>
            </div>
            <div class="m_contents">
                {% include "right_login.html" %}
                <div class="m_recruit"><a href="javascript:go_menu('sub4_1')"><img src="{{ url_for('static', filename='images/m_recruit.gif') }}" /></a></div>
                <div><a href="javascript:go_menu('sub2_1')"><img src="{{ url_for('static', filename='images/m_activities.gif') }}" /></a></div>
            </div>
        </div>
        <div class="m_con2">
            <div class="m_notice_img"><img src="{{ url_for('static', filename='images/m_notice_img.gif') }}" /></div>
            <div class="boards">
                {% for board in boards %}
                <div class="board">
                    <dl>
                        <dt><span class="title">{{board.name}}</span><a href="javascript:go_menu('sub5_{{board.id}}')"><span class="more">더보기 <i class="fa fa-chevron-right"></i></a></span></dt>
                        {{ PT_BoardTopList(boardRec[loop.index0], '/sub/sub5_%d'%board.id ) }}
                    </dl>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}

{% block scripts %}
{% endblock %}