
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="{{url_for('static', filename='js/member_app.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/member.css')}}" />
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div ng-app="stemApp" ng-controller="memberList">
	<div class="members" ng-view>
		<a ng-repeat="mem in members" class="member-tag" ng-click="openCard(mem.id)">
			<div class="member-picture">
				<div class="member-picture-container">
					<img class="member-picture-thumb" src="/static/upload/{[ mem.img || 'profile/default.png']}">
				</div>
			</div>
			<h5>{[mem.user.nickname]}</h5>
		</a>

	</div>

	<div class="member-card">	
		<div class="card-body">
			<div class="card-photo">
				<img class="card-cover" src="/static/upload/{[members[pIndex].cover || 'cover/cover_default.gif']}">
			</div>
			<div class="card-desc">
				<h4 class="card-member-name">{[members[pIndex].user.nickname]}</h4>
				<h6 class="card-member-dept">{[members[pIndex].cycle]}기 {[members[pIndex].stem_dept]}, {[members[pIndex].dept]}</h6>
				<p class="card-member-description">{[members[pIndex].cv]}</p>
				<a class="card-member-social-link" href="{[members[pIndex].social]}">{[members[pIndex].social.split('://')[1]]}</a>
			</div>
		</div>
		<a class="member-card-prev member-card-control" href="javascript:void(0)" ng-click="goPrev()">
			<span>{[prevMember().user.nickname]}</span>
			<i class="fa fa-arrow-left"></i>
		</a>
		<a class="member-card-next member-card-control" href="javascript:void(0)" ng-click="goNext()">
			<i class="fa fa-arrow-right"></i>
			<span>{[nextMember().user.nickname]}</span>
		</a>
		<a href="javascript:void(0)" onclick="closeModal()">
			<i class="modal-close fa fa-remove" style="line-height:22px;"></i>
		</a>
	</div>
</div>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<script src="{{url_for('static', filename='js/jquery.easyModal.js')}}"></script>
<script src="{{url_for('static', filename='js/member.js')}}"></script>
