{% extends "base.html" %}
{% block container %}
<!--#include virtual = "{{ url_for('static', filename='inc/top.asp') }}"-->
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul class="nostyle">
                    <li class="nostyle stit"><div class="title-img"><span>Greetings</span></div></li>
                    <li class="nostyle con_img">
                        <div style="padding:5px;">
                        <h1 id="서울대학교-공과대학"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">겸손한 마음으로 큰 꿈을 갖고 나아가는 공우를 지켜봐 주시기 바랍니다.</span></h1>
                        <hr style="display: block; border: solid 1px #f19000";>
                        <p class="literature_first">안녕하십니까? 서울대학교 공과대학 우수학생센터 공우(SNU Tomorrow's Edge Membership; STEM)의 홈페이지를 방문해주셔서 감사합니다.<br><br>
                        저희 공우(STEM)는 서울대학교 공과대학 소속의 학생단체로, 대한민국 최초의 공과대학 Honor Society입니다. 2010년 설립 이래 지금까지 서울대학교 공과대학의 다양한 학과에서 우수한 학생들이 선발되어 활동하고 있으며, <b>현재 총 7기, 141명의 회원</b>으로 이루어져 있습니다.<br><br>
                        공우(STEM)의 목적은 단순히 우수학생 사이에서의 교류에 그치는 것이 아니라, 미래를 선도하는 글로벌 리더의 모습에 한발짝 더 가까이 가는 것에 있습니다. 설립 이후 6년간 공우는 계속해서 아너 소사이어티로서의 역할과 책임에 대해 고민해왔습니다. 지금도 공우는 학술 교류를 통해 전문성을 갖추되, 사회에 환원하는 마음가짐을 잃지 않고, 사람을 위하는 공학도가 되기 위해 다양한 활동을 해나가고 있습니다. <br><br>
                        앞으로 공우는 한국에서뿐만 아니라 국제적인 영향력까지 갖춘 글로벌 리더로 발전해나갈 것입니다. 겸손한 마음으로 큰 꿈을 갖고 나아가는 공우를 지켜봐 주시기 바랍니다. 감사합니다. </p>
                        <p class="literature" style="text-align:right;">공우(STEM) 7기 회장&nbsp;&nbsp;&nbsp;&nbsp;<b><big>강명지&nbsp;&nbsp;</big></b></p>
                        </div>
                    </li>
            </div>
        </div>
    </div>

    <!--//container-->
{% endblock %}