{% extends "base.html" %}
{% block container %}
<!--#include virtual = "{{ url_for('static', filename='inc/top.asp') }}"-->
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul class="nostyle">
                    <li class="nostyle stit"><div class="title-img"><span>Contact</span></div></li>
                    <li class="nostyle con_img">
                        <div style="padding:5px;">
                        <h1 id="회장"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">회장</span></h1>
                        <hr style="display: block; border: solid 1px #f19000;">
                        <p class="literature"><big><b>강명지</b></big> (7기, 산업공학과)</p>
                        <h1 id="주소"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">주소</span></h1>
                        <hr style="display: block; border: solid 1px #f19000;">
                        <p class="literature" style="line-height:2.0em;">서울특별시 관악구 관악로 1 (서울대학교)<br>신양학술정보관(44-1동) 402-1호, 공과대학 우수학생센터(공우)<br>(우) 08826</p>
                        <h1 id="연락처"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">연락처</span></h1>
                        <hr style="display: block; border: solid 1px #f19000;">
                        <p class="literature" style="line-height:2.0em;">이메일 : <a href="mailto:stemsnu@gmail.com">stemsnu@gmail.com</a><br>카카오톡 : @stemsnu</p>

                        </div>
                    </li>
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}