{% extends "base.html" %}
{% block container %}
<!--#include virtual = "{{ url_for('static', filename='inc/top.asp') }}"-->
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul>
                    <li class="stit"><img src="{{ url_for('static', filename='images/stit%d_%d.gif' % (mNum, sNum)) }}" alt="" /></li>
                    <li class="con_img"><img src="{{ url_for('static', filename='images/sub1_5.gif') }}"></li>
                </ul>
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}