{% extends "base.html" %}
{% block container %}
<!--#include virtual = "{{ url_for('static', filename='inc/top.asp') }}"-->
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul class="nostyle">
                    <li class="nostyle stit"><div class="title-img"><span>Organization</span></div></li>
                    <li class="nostyle con_img">
                        <div style="padding:5px;">

                        <h1 id="명칭 및 로고"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">로고 및 명칭</span></h1>
                        <hr style="display: block; border: solid 1px #f19000;">

                        <p class="literature" style="text-align: center; margin:0 0 5px 0;"><img src="{{ url_for('static', filename='images/logo_combine.png') }}" alt="logo.png" usemap="#001"/><br><small>(로고를 클릭하시면 고화질로 보실 수 있습니다.)</small></p>

                        <p class="literature">공우(STEM)는 우수한 공학적 소양을 갖춘 여러 가지 공학 분야의 학부생으로 구성된 동아리 성격의 학생 단체이자, 서울대학교 공과대학의 Honor Society를 지향합니다.</p>

                        <p class="literature">정식 명칭은 <b>서울대학교 공과대학 우수학생센터(SNU Tomorrow's Edge Membership)</b>이며, 공학을 전공하는 오늘의 공학도로부터 공학은 물론이거니와 교육, 의학, 법, 경영, 예술 등 사회의 여러 분야에서 활약할 수 있는 <b>내일의 리더</b>로 성장하고자 하는 단체의 지향성을 담아내고 있습니다.</p>

                        <map name="001">
                            <area shape="rect" coords="15,70,340,195" href="{{ url_for('static', filename='images/logo_original_kor.png') }}">
                            <area shape="rect" coords="380,70,700,195" href="{{ url_for('static', filename='images/logo_original_eng.png') }}">
                        </map>

                        <h1 id="조직도"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">조직도</span></h1>
                        <hr style="display: block; border: solid 1px #f19000;">
                        <p class="literature" style="text-align: center;"><img src="{{ url_for('static', filename='images/sub1_3_new.png') }}" alt="logo.png" usemap="#002"/><br><small>(부서를 클릭하시면 자세한 활동 소개를 보실 수 있습니다.)</small></p></p>
                        <map name="002">
                            <area shape="rect" coords="310,260,405,320" href="/sub/2-1">
                            <area shape="rect" coords="140,260,235,320" href="/sub/2-2">
                            <area shape="rect" coords="480,260,575,320" href="/sub/2-2">
                        </map>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}