{% extends "base.html" %}
{% block container %}
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul class="nostyle">
                    <li class="nostyle stit"><img src="{{ url_for('static', filename='images/stit%d_%d.gif' % (mNum, sNum)) }}" alt="" /></li>
                </ul>
                <article>
<p><b>뚜렷한 비전을 지녔어도 혼자서는 아무것도 이루어낼 수 없습니다. STEM은 더불어 사는 사회를 지향하고 이에 앞으로 사회를 이끌어나갈 주도적인 역할을 다할 수 있도록 각종 리더십 프로그램을 기획하여 활동하고 있습니다.</b></p>
<br>
-<br>
<h3>리더십 프로그램</h3>
<br>
<p>-’좋은 리더’란 어떤 사람일까요? 이러한 물음에서 출발하여 바람직한 리더상을 찾아보기 위해 본 프로그램을 진행하였습니다. 총 9주간에 걸쳐 진행한 ‘리더십 프로그램’은 리더라는 존재를 생각해볼 수 있는 좋은 기회가 되었습니다.</p>
<br>
<h3>1주차 - MBTI 검사</h3>
<p>-’자기 이해’를 주제로 했던 첫 번째 프로그램으로 개인의 성격과 특성을 파악하기 위해 심리 검사를 진행하였습니다. 강사님과 검사 결과를 분석하여 보다 체계적인 특성 파악을 할 수 있었습니다.</p>
<br>
<h3>2주차 - 심층 심리검사 및 분석</h3>
<p>-’서울 정신분석 상담연구소’에 방문하여 개인별로 심리검사와 상담을 받았습니다. 평소 느끼지 못했던 자기 자신의 모습에 대해 알아볼 수 있었던 좋은 시간이었습니다.</p>
<br>
<h3>3주차~4주차 - 자기 이해와 감정 관리</h3>
<p>-’자기 이해’를 주제로 한 마지막 활동으로 2주간 자기 자신의 감정을 다스리는 것을 주제로 강사를 초청하여 강연을 들었습니다.</p>
<br>
<h3>5주차 - 매너 및 이미지메이킹</h3>
<p>-상대방으로부터 좋은 인상을 남기는 것도 리더로서 중요한 항목입니다. 이에 대인관계에서 필요한 적절한 매너 방식과 이미지를 좋게 하는 의상과 메이크업에 관해 배워보는 시간을 가졌습니다.</p>
<br>
<h3>6주차~9주차 - 말하기</h3>
<p>-유명한 리더들은 대부분 유려한 말솜씨를 겸비하고 있습니다. 사람의 마음을 움직일 수 있는 화법을 익히기 위해 서울대학교 ‘말하기’ 강의를 진행하시는 교수님을 초빙하여 말하기 교육을 받았습니다.</p>
<br>
-<br>
<h2>Dean’s Leadership Prgram</h2>
<br>
<p>연사로부터 리더에 대한 강연을 듣고 리더가 지녀야 할 자질에 대해 토론하는 프로그램을 진행하였습니다. 총 10주간에 걸쳐 진행하였으며, 다양한 분야에서 종사하시는 분들을 만나보며 미래에 리더가 되기 위해 나아가야 할 방향을 모색해보는 시간이었습니다.</p>
<br>
<ul>
<li><b>1주차</b>: 미래사회가 요구하는 리더는? / 김광웅 교수 (서울대 리더십센터)</li>
<li><b>2주차</b>: [현장학습] 연극 관람 - 햄릿기계 / 연희단거리패</li>
<li><b>3주차</b>: 리더가 추구할 가치 / 김광웅 교수 (서울대 리더십센터)</li>
<li><b>4주차</b>: 리더와 커뮤니케이션: 글을 통한 소통</li>
<li><b>5주차</b>: 리더와 커뮤니케이션: 말을 통한 소통 / 유정아 아나운서</li>
<li><b>6주차</b>: 몸으로 표현하기: 이더는 배우다 / 연희단거리패 김소희 대표</li>
<li><b>7주차</b>: 내일에는 무슨 일이 일어날까? / 서울대 자유전공학부 장대익 교수</li>
<li><b>8주차</b>: [현장학습] 서울대 미술관</li>
<li><b>9주차</b>: [현장학습] 역사의 현장에서 국가기록원</li>
<li><b>10주차</b>: 수료식</li>
</ul>
                </article>
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}