{% extends "base.html" %}
{% block container %}
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul>
                    <li class="stit"><img src="../static/images/stit{{mNum}}_{{sNum}}.gif" alt="" /></li>
                    <li class="con_img"><img src="../static/images/sub2_4.gif"></li>
                </ul>
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}