{% extends "base.html" %}
{% block container %}
<!--#include virtual = "{{ url_for('static', filename='inc/top.asp') }}"-->
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul class="nostyle">
                    <li class="nostyle stit"><div class="title-img"><span>Academic Activity</span></div></li>
                    <li class="nostyle con_img">
                        <div style="padding:5px;">

                        <p class="literature_first">다양한 공학 분야의 전공을 가진 공우(STEM) 회원들은 서로 학문적 교류를 통해 새로운 견해를 가지며, 이를 바탕으로 현실에서 발생하는 문제에 대한 해결책을 찾아 사회에 공헌하고자 합니다.</p>

                        <h1 id="테크스퀘어"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">테크스퀘어(Tech^2, Tech Square)</span></h1>
                        <hr style="display: block; border: solid 1px #f19000;">
                        <p class="literature">테크스퀘어는 거듭제곱처럼 이공계에 대한 사회의 관심을 더욱 증폭시키고 광장과 같이 많은 사람들이 자유롭게 모여 의견을 나누고 새로운 생각을 만들어내는 장소가 되는 것을 목표로 합니다. 동일한 사회적, 공학적 주제에 대해 여러 공학 분야의 전공을 가진 공우 회원들이 함께 모여, 다양한 관점에서 함께 해결책을 찾고, 서로에게 배워가는 기회를 가집니다.</p>

                        <h1 id="학생자율세미나"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">학생 자율 세미나</span></h1>
                        <hr style="display: block; border: solid 1px #f19000;">
                        <p class="literature">최근 과학기술의 발전은 나노기술(NT), 생명과학기술(BT), 정보통신기술(IT)와 같은 기반 기술의 융합과 물리 ,화학, 생물학, 수학, 전산학 그리고 인문학에까지 다양한 학제 간 융합 연구(Interdisciplinary research)의 방향으로 나아가고 있습니다. 학생 자율 세미나를 통하여, 융합 연구의 중요성이 크게 강조되는 공학 분야를 중심으로 융합 연구에 대한 동향과 필요성을 파악하고, 앞으로의 발전 방향에 대한 논의를 수행합니다.</p>

                        <h1 id="교수님질문"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">‘교수님 질문 있습니다!’ 프로젝트</span></h1>
                        <hr style="display: block; border: solid 1px #f19000;">
                        <p class="literature">21세기는 융합의 시대라고 할 만큼, 여러 분야들의 결합이 이루어지고 있습니다. 서울대학교 공대는, 공학이라는 큰 틀 안에서 기계공학, 전자공학 등으로 전공이 세부적으로 나뉘어져 있습니다. 하지만 이러한 전공들은 서로 유기적인 관계를 가지고 있고, 자신의 전공 분야를 기반으로 다른 전공분야의 문제에 대한 해결책을 도출할 수도 있습니다.</p>
                        <p class="literature"> 공우 회원들의 다각적 시야를 한 층 더 높이기 위해, 평소에 만날 수 없는 타 학과 교수님들을 찾아 뵙고, 각자 전공의 시각에서 그 교수님들을 인터뷰하여, 다양한 공학 분야들의 접점을 발견한다는 것에 의의를 두고 본 프로젝트를 진행합니다.</p>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}