{% extends "base.html" %}
{% block container %}
<!--#include virtual = "{{ url_for('static', filename='inc/top.asp') }}"-->
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul class="nostyle">
                    <li class="nostyle stit"><div class="title-img"><span>Voluntary Service</span></div></li>
                    </li>
                </ul>
                <article>
<p>사회에 기여하는 첫 걸음은 바로 봉사입니다.</p>
<p>STEM에서는 사회에 기여하고 사회와 소통할 줄 아는 리더를 배출하기 위해서 각종 봉사 활동을 진행하고 있습니다.</p>
<br>
<p>-이번 봄/여름 분기 활동:</p>
<br>
-<br>
<h3>비전 멘토링</h3>
<p>‘비전 멘토링’은 공우 1기 회원들이 직접 제작한 ‘강연회 형식’의 멘토링 프로그램입니다. 공과대학 학생들이 모인 ‘공우’의 시너지를 활용하여 공대의 각 전공들을 소개하고 공학자로서의 비전(Vision)을 전달해주는 것을 목표로 합니다.<p>
<p>1부 ‘서울대 공우, 공학을 말하다’와 2부 ‘공우가 전하는 공부법과 꿈 이야기’로 구성된 비전 멘토링은 공우 회원들이 생각하는 공학의 정의와 공학에 대한 열정을 학생들에게 전달해 주어 힘든 학창생활을 이겨낼 굳건한 동기를 심어주고 있습니다. 지금까지 10회 이상의 비전 멘토링을 진행하면서 서울 뿐 아니라 창원시, 인천시, 경남 도교육청과도 연계하여 다양한 지역의 학생들과 소통할 수 있는 기회를 만들어 왔습니다. 지금까지 매회 300여명, 누적 3000여명의 학생들이 비전 멘토링을 거쳐갔을 정도로 꾸준히 진행되고 있는 공우의 대표 활동입니다.</p>
<br>
-<br>
<h3>징검다리멘토링</h3>
<p>‘징검다리 멘토링’은 ‘비전 멘토링’만을 진행해오던 때의 아쉬운 부분들을 채워주기 위해 공우 2기, 3기 회원들이 기획한 ‘담화’형식의 멘토링 프로그램입니다. 고등학생 친구들과의 더욱 밀접한 커뮤니케이션을 위해서 공우 회원들 4-5명이 소규모 팀을 이루어 고등학교를 직접 방문하여 20-30여명의 고등학생들과 편안하게 대화를 나누며 학생들이 평소 궁금했던 것들이나 요새 생겨난 고민들 등에 대해 허심탄회하게 이야기를 나누는 프로그램입니다. 진학, 진로, 학업 뿐 아니라 연애, 학교생활, 취미활동까지 다양한 주제에 대해 대화를 나눌 수 있었습니다.</p>
<p>2012년 11월 21일, 공항고등학교에서의 첫 번째 징검다리 멘토링을 시작으로 작년 2학기에 총 5번의 만남을 가졌으며, 이번 봄 분기에는 3차례 추가적으로 멘토링을 진행하였습니다.</p>
<br>
-<br>
<h3>톡톡멘토링</h3>
<p>톡톡멘토링은 관악구청의 지원을 받아 스템 학생들이 관악구 고등학생과 함께하는 활동입니다. 고등학생들이 공학적 사고를 배양할 수 있도록 함께 다양한 주제들에 대해서 생각하고 공학적 지식이 사용되는 것들을 직접 만들어 보는 기회를 제공합니다. 이번 봄 분기에는 ‘마이너리티 리포트를 통해서 바라본 미래사회의 공학 기술’, ‘에그 드랍’, ‘단단한 구조물 만들기’ 등의 주제로 멘토링을 진행하였습니다.</p>
<br>
 -<br>
<h3>교육기부박람회</h3>
<p>7월 12일부터 3일에 걸쳐서 일산 킨텍스에서 교육기부박람회가 진행되었습니다. 교육기부박람회란 어린 학생들이나 일반인들에게 다양한 분야의 교육을 제공하는 장입니다.</p>
<p>현 시대에서 코딩은 단순히 컴퓨터를 전공하는 사람들뿐 아니라 그 외의 전공자들에게도 역시 필요합니다. 자신의 생각을 컴퓨터로 표현할 수 있어야 하기 때문이죠. 이러한 이유로 스템에서는 이번 교육기부박람회에서 학생들과 일반인들에게 코딩의 중요성과 재미를 일깨워주기 위해서 ‘scratch’라는 코딩 프로그램 교육을 기획하였습니다.</p>
                </article>
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}