{% extends "base.html" %}
{% block container %}
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul class="nostyle">
                    <li class="nostyle stit"><img src="{{ url_for('static', filename='images/stit%d_%d.gif' % (mNum, sNum)) }}" alt="" /></li>
                </ul>
                <article>
<p>폭넓은 교류를 통해 공우가 추구하는 ‘소통’을 실현하고 있습니다. 다양한 나라와 대학, 기관들 그리고 다양한 직업을 가진 사람들과 교류하며 세상을 보는 시야를 넓힙니다.</p>
<br>
<p>-이번 봄/여름분기 활동:</p>
<br>
-<br>
<h3>알파와의 교류</h3>
<p>저희는 아너소사이어티(honor society)의 정체성을 확립하고 활동 범위를 넓히고자 외부 아너소사이어티들과의 교류를 시도하였습니다. 그 첫번째로 포항공과대학교(POSTECH)의 아너소사이어티인 ‘ALPHA’와 1박 2일의 교류 행사를  추진하였습니다. 두 단체의 비전과 아너소사이어티로서의 어려움을 함께 공유하였고 추후 활동에 관해서 논의하는 기회였습니다.</p>
<br>
-<br>
<h3>의전활동</h3>
<p>저희 스템은 매 분기마다 꾸준히 의전활동을 해왔습니다. 이번 분기에는 태국 국립 쏭클리대학교, 싱가포르 매니지먼트 대학교(Singapore Management University), 말레이시아 마라 대학교, 홍콩 시립대학교(City University of Hong Kong)의 학교 방문에 대해 의전활동을 하였습니다.</p>
<p>말레이시아 과학기술 특목고 고등학생, 미국 해군 연구처, 홍콩시립대 학생, BYU Warnick교수님, 오연천 교수님 및 주요 기업 인사, 몽골과학기술대학교 교수 및 석박사, 아프리카 8개국 고위 공무원 방문 등의 의전 활동에 저희 스템이 참여하였습니다.</p>
<br>
<p>-지난 분기들 활동:</p>
<br>
-<br>
<h3>STEM 교내 가이드 매뉴얼 제작</h3>
<p>저희 스템은 서울대학교를 방문하는 외국인 손님들에게 서울대학교와 공과대학에 대해 정확하게 소개하고 안내하기 위하여 교내 가이드 매뉴얼을 제작하였습니다.</p>
<br>
-<br>
<h3>SRT</h3>
<p>2012년 7회를 맞이한 SRT(Student Round Table)를 공우에서 host를 맡아 주최하였습니다. 동북아 5개국(한국, 일본, 중국, 대만, 몽골)이 참여하는 이 대회는 각국 대학생들의 학술적 교류를 통해 상호 이해를 이루는 것을 목표로 합니다. 2012  SRT의 토론 주제는 “Create a Comprehensive Security Community for Peaceful Relationship in Northeast Asia” 였습니다. </p>
                </article>
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}