{% extends "base.html" %}
{% block container %}
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul class="nostyle">
                    <li class="nostyle stit"><div class="title-img"><span>Sponsors</span></div></li>
                    <li class="nostyle con_img">
                        <div style="padding:5px;">
                        <h1 id="서울대학교-공과대학""><br><span style="color: #f19000; font-weight: bold; font-size:20px;">서울대학교 공과대학</span></h1>
                        <hr style="display: block; border: solid 1px #f19000";>
                        <a href="http://eng.snu.ac.kr/" target="_blank"><img src="{{ url_for('static', filename='images/s1.gif') }}" style="width:300px"></a>
                        <p class="literature_first" style="width: 420px; display: inline-block; padding: 7px; vertical-align:middle; line-height:2.0rem;">대한민국 최초의 국립대학교인 서울대학교와 함께 서울대학교 공과대학은 “글로벌 산업과 사회의 지도자 육성”을 목표로 끊임없이 달려왔습니다. 서울대 공대에서는 세계적 수준의 국내외 교수들이 열정적으로 교육과 연구에 임하고 있고, 서울대 공대를 졸업한 동문들은 대기업의 CEO, 벤처기업 창업자, 세계적인 공학자 등으로 사회 각계 각층의 지도적 위치에서 대한민국의 기술 개발을 선도함과 동시에 국가발전의 견인차 역할을 해 오고 있습니다.

                        </div>
                        <div style="padding:5px;">
                        <h1 id="동부-문화재단"><br><span style="color: #f19000; font-weight: bold; font-size:20px;">동부 문화재단</span></h1>
                        <hr style="display: block; border: solid 1px #f19000";>
                        <a href="https://www.dongbufoundation.or.kr/" target="_blank"><img src="{{ url_for('static', filename='images/s2.gif') }}" style="width:300px"></a>
                        <p class="literature_first" style="width: 420px; display: inline-block; padding: 7px; vertical-align:middle; line-height:2.0rem;">동부 문화재단은 동부의 창업 이후 한결같이 추구하여 온 '좋은 기업'의 실현과, 어려운 여건 속에서도 꿈을 키워가는 유능한 인재를 지속적으로 발굴 및 육성하여 사회 발전에 기여하고자 하는 김준기 동부그룹 회장의 뜻에 따라 지난 1988년 설립되었습니다. 설립 당시 15억 원의 기본 자산으로 출발한 동부 문화재단은 이후에도 인재 육성과 학술, 교육의 발전에 남다른 관심과 의지를 가진 김준기 동부그룹 회장의 대규모 사재 출연과, 각 계열사의 추가 참여로 현재 자산규모 5,000억 원의 견실한 재단으로 성장하여 공익사업을 펼치고 있습니다.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}