{% extends "base.html" %}
{% block container %}
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul class="nostyle">
                    <li class="nostyle stit"><div class="title-img"><span>Recruitment</span></div></li>
                    <li class="nostyle con_img">
                        <div style="padding:5px;">

                        <h1 id="인재상"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">인재상</span></h1>
                        <hr style="display: block; border: solid 1px #f19000";>
                        <p class="literature"><b>공우(STEM)의 비전에 부합</b>하는 리더로서 성장할 준비가 된 열정적인 학생</p>

                        <h1 id="선발인원"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">선발 인원</span></h1>
                        <hr style="display: block; border: solid 1px #f19000";>
                        <p class="literature">매년 1회(3월 중) <b>20명 내외</b></p>

                        <h1 id="모집대상"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">모집 대상</span></h1>
                        <hr style="display: block; border: solid 1px #f19000";>
                            <ul style="line-height:2.0rem; margin-top:10px;">
                                <li><b>서울대학교 공과대학에 재학</b> 중이며, <b>4학기 이상</b>을 이수한 학생</li>
                                <li>전공 분야에 있어 <b>뛰어난 학업 역량</b>을 보여주는 학생</li>
                                <li>우수한 국어 및 외국어 능력을 갖추어 <b>글로벌 리더</b>의 자질이 있는 학생</li>
                                <li>투철한 <b>봉사 정신</b>을 갖춘 학생</li>
                                <li><b>입회 직후 1학기를 포함하여 향후 3학기, 2방학 이상 활동</b>할 수 있는 학생</li>
                            </ul>

                        <h1 id="지원자격"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">지원 자격</span></h1>
                        <hr style="display: block; border: solid 1px #f19000";>
                        <p class="literature">전체 평점이 <b>3.5 이상</b>이며, 다음 조건 중 <b>하나 이상</b>을 만족하는 학생</p>
                            <ol style="line-height:2.0rem;">
                                <li>전체 평점 3.7 이상</li>
                                <li>공학 전공과목 평점 3.8 이상 (※ 공학 전공과목 15학점 이상 이수 필요)</li>
                                <li>전공과 관련된 인턴십 경력 또는 대회 수상 이력</li>
                                <li>TTEPS 800점에 상응하는 공인 영어 능력 또는 기타 우수한 외국어 능력</li>
                                <li>봉사, 리더십 활동 등 기타 차별화된 경력이나 능력</li>
                            </ol>

                        <h1 id="선발절차"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">선발 절차</span></h1>
                        <hr style="display: block; border: solid 1px #f19000";>
                            <ul style="line-height:2.0rem;">
                                <li>1차 : 서류심사</li>
                                <li>2차 : 면접심사</li>
                                <li class="nostyle">※ 일정은 매년 3월 초 <a href="http://eng.snu.ac.kr">서울대학교 공과대학 홈페이지</a>에 공지</li>
                            </ul>

                        <h1 id="지원방법"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">지원 방법</span></h1>
                        <hr style="display: block; border: solid 1px #f19000";>
                            <p class="literature">다음의 제출 서류를 구비하여 방문 또는 이메일 제출<br>(지원서 제출용 <b>이메일은 매년 바뀔 수 있으니</b> 주의, 지원하는 당해 연도 공과대학 공지글 참조)</p>
                            <ol style="line-height:2.0rem;">
                                <li>입회 지원서 (하단 첨부된 양식 사용 또는 공과대학 홈페이지, 각 학부/학과 홈페이지에서 다운로드)</li>
                                <li>성적 증명서</li>
                                <li>인턴십 경력 또는 대회 수상 이력 증명서 (조건 3 지원자에 한함)</li>
                                <li>외국어 능력 증명서 (TEPS, TOEFL, HSK 등) (조건 4 지원자에 한함)</li>
                            </ol>
                        <div>
                        <p class="literature" style="text-align:center;"> <i class="fa fa-download"></i> <a href="http://gongwoo.snu.ac.kr/static/upload/d944c0c85f604d9fa76f543af555a377.hwp" download="2016년도 공우(STEM) 입회 지원서.hwp"> 2016년도 공우(STEM) 입회 지원서.hwp</a><br>
                        <i class="fa fa-download"></i> <a href="http://gongwoo.snu.ac.kr/static/upload/f851b3f637e04be3999b0338dab73bba.hwp" download="[참고] 인턴십 경력 확인서.hwp">[참고] 인턴십 경력 확인서.hwp</a></p></div>
                        <h1 id="인재상"><br><span style="color: #f19000; font-weight: bold; font-size:1.3rem;">공우(STEM)의 회원이 되면 여러가지 혜택이 주어집니다.</span></h1>
                        <hr style="display: block; border: solid 1px #f19000";>
                        <ul style="line-height:2rem;">
                            <li><b>평생 회원</b>제</li>
                            <li><b>공과대학 학장 명의 인증서</b> 수여</li>
                            <li>고급 <b>인적 네트워크</b> 형성</li>
                            <li><b>국제 활동</b> 기회</li>
                            <li>공과대학 내 <b>타 학과/학부과의 교류</b> 기회</li>
                            <li>사회 각 계 <b>인사들과의 만남</b></li>
                            <li>넓은 <b>전용 공간</b> 제공</li>
                        </ul>
                        </div>

                    </li>

                </ul>
                <article>

                </article>
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}