<!--#include virtual = common/dbcon.asp-->
{#
<%
Dim Rs,Sql,Allrec
Dim Record_Cnt,TotalPage,PageSize,Page,Count
Dim Search,SearchStr,StrWhere,BBsSelectField
Dim BBsCode,strLocation,i
Dim BoardSort,BBsSort
Dim Idx,Filename(1),FilDownTag(1),souchk,AlertMsg
Dim title,writer,regdate,content,Ref,ReLevel,Pwd,TopYn,TopTag,ReadNum,PublicYN,inputPwd,UserIdx
Dim serboardsort
Dim PreTag,NextTag
Dim AdWrite,imgnames

bbscode=2
mode=Request("mode")
prePage="{{ url_for('static', filename='sub/sub5_2.asp') }}"
recordTitleCutNum=40

IF mode="write" Then
%><!--#include virtual = board/proc_boardwrite.asp--><%
elif mode="view" Then
%><!--#include virtual = board/proc_boardview.asp--><%
elif mode="modify" Then
%><!--#include virtual = board/proc_boardmodify.asp--><%
elif mode="reply" Then
%><!--#include virtual = board/proc_boardreply.asp--><%
elif mode="pwdinput" Then
%><!--#include virtual = board/proc_pwdinput.asp--><%
Else
%><!--#include virtual = board/proc_boardlist.asp--><%
End IF

Set Rs=Nothing
DBcon.Close
Set DBcon=Nothing
%>
#}
{% extends "base.html" %}
{% block container %}
<div id="boardPwdINPUTDiv" name="boardPwdINPUTDiv" style="position:absolute; visibility:hidden;"></div>
<div id="boardcommentPwdINPUTDiv" name="boardcommentPwdINPUTDiv" style="position:absolute; visibility:hidden;"></div>
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul>
                    <li class="stit"><img src="{{ url_for('static', filename='images/stit%d_%d.gif' % (mNum,sNum)) }}" alt="" /></li>
                    <li class="con_img">

                        {% if mode == "write" %}
                            {% include "board/bbs_Write.html" %}
                        {% elif mode == "view" %}
                            {% include "board/bbs_View.html" %}
                        {% elif mode == "modify" %}
                            {% include "board/bbs_Modify.html" %}
                        {% elif mode == "reply" %}
                            {% include "board/bbs_Reply.html" %}
                        {% elif mode == "pwdinput" %}
                            {% include "board/bbs_pwdinput.html" %}
                        {% else %}
                            {% include "board/bbs_List.html" %}
                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}